<form [formGroup] = "globalProfileForm" class = "example-form">
        <div class="text-caption-medium show-for-medium">
          <div class="title">
            Schedule
          </div>
        </div>
          
        <div formGroupName="operationalDays" class = "example-form">

            <div class="text-caption-small">
                <div class="title">
                  Operational Days
                </div>
              </div>

            <div *ngIf="profile">
                  <ejs-calendar [values]="profile.host.grooming.operationalDays.weekDays" [min]="minDate" (change)="onSelect($event)" [isMultiSelection]='true' #calendar></ejs-calendar>
            </div>

            <!-- <mat-select formControlName="weekDays" placeholder="Days" multiple>
              <mat-option *ngFor="let days of dayList" [value]="days">{{days}}</mat-option>
            </mat-select> -->

          </div>

        <div formGroupName="operationalHours" class = "example-form">
          <div formGroupName="weekDays" class = "example-form">
            <div class="example-form">
                
              <div class="text-caption-small">
                <div class="title">
                Start
                </div>
              </div>
              <mat-form-field class="example-full-width">
              <mat-select formControlName="start" required>
                    <mat-option *ngFor = "let time of times" [value]="time">
                      {{time}}
                    </mat-option>
                      
              </mat-select>
              </mat-form-field>
                <!-- <input type="text" formControlName="start" [ngxTimepicker]="start" readonly>
                <ngx-material-timepicker #start></ngx-material-timepicker> -->
              <!-- <ejs-timepicker class="e-input" aria-disabled="false" formControlName="start" [min]='minTime' [max]='maxTime' [strictMode]='isStrictMode'></ejs-timepicker> -->
               
                <div class="text-caption-small">
                    <div class="title">
                        End
                    </div>
                </div>
                <mat-form-field class="example-full-width">
                  <mat-select formControlName="end" required>
                      <mat-option *ngFor = "let time of times" [value]="time">
                          {{time}}
                        </mat-option>
                  </mat-select>
                  </mat-form-field>
                <!-- <input type="text" formControlName="end" [ngxTimepicker]="end" readonly>
                <ngx-material-timepicker #end></ngx-material-timepicker> -->
                <!-- <ejs-timepicker class="e-input" aria-disabled="false" formControlName="end" [min]='minTime' [max]='maxTime' [strictMode]='isStrictMode'></ejs-timepicker> -->
          </div>
          </div>
        </div>
        

      <div>
          <button class="button" (click)="saveGlobalProfile()" [disabled]="!globalProfileForm.valid">Save</button>
      </div>
      
    </form>