<app-main-header></app-main-header>
<div class="main-page" style="background: #eaeaea">
  <div class="row small-collapse medium-uncollapse">
    <div class="medium-8 columns medium-centered">
      <div class="text-caption-small">
        <div class="title">
          Manage My Business
        </div>
      </div>
      <div class="list-group margin-bottom-2 white-bg">
        <a routerLink="/account/business/edit-service">
          <div class="list-item border-bottom">
    
            <div class="item-body flex-3">
              <div class="first-line">
                Edit Business Profile
              </div>
              <div class="second-line">
                Edit your business information
              </div>
            </div>
            <div class="item-tail">
              <fa-icon [icon]="faChevronRight"></fa-icon>
            </div>
    
          </div>
        </a>
        <a routerLink="/account/business/orders">
          <div class="list-item border-bottom">
    
            <div class="item-body flex-3">
              <div class="first-line">
                Orders
              </div>
              <div class="second-line">
                Manage order from your customer
              </div>
            </div>
            <div class="item-tail">
              <fa-icon [icon]="faChevronRight"></fa-icon>
            </div>
    
          </div>
        </a>
    
        <!-- <a href="/account/business/manage-service">
          <div class="list-item border-bottom">
    
            <div class="item-body flex-3">
              <div class="first-line">
                Transaction
              </div>
              <div class="second-line">
                In your place
              </div>
            </div>
            <div class="item-tail">
              <fa-icon icon="chevron-right"></fa-icon>
            </div>
    
          </div>
        </a> -->
    
        <div class="hide">
        <a routerLink="/account/business/manage-service">
          <div class="list-item border-bottom">
    
            <div class="item-body flex-3">
              <div class="first-line">
                Manage Service
              </div>
              <div class="second-line">
                In your place
              </div>
            </div>
            <div class="item-tail">
              <fa-icon [icon]="faChevronRight"></fa-icon>
            </div>
    
          </div>
        </a>
        </div>
    
    
    
    
      </div>
    
    
      <div class="list-group margin-bottom-2 white-bg">

        <div class="hide">
        <a href="#">
          <div class="list-item border-bottom">
    
            <div class="item-body flex-3">
              <div class="first-line">
                Help
              </div>
              <div class="second-line">
                In your place
              </div>
            </div>
            <div class="item-tail">
              <fa-icon [icon]="faChevronRight"></fa-icon>
            </div>
    
          </div>
    
        </a>
        </div>
    
    
    
      </div>
    </div>
  </div>

 


</div>
<app-main-footer></app-main-footer>