<app-main-header></app-main-header>
<section id="homepage-search-banner" class="hero-banner-search">
    <div class="row">
        <div class="medium-12 medium-centered column">
                <div class="text-caption-large white">
                        <div class="title">
                          Cari pet grooming dan pet hotel?
                        </div>
                        <p class="subtitle white">Sekarang lebih mudah! tinggal pesan dan tunggu dirumah</p>
                    </div>
            <!-- {{> search-bar}} -->
            <app-homepage-search></app-homepage-search>

        </div>
    </div>

</section>


<!-- SELECT SERVICE COMPONENT -->


<!-- FEATURED SERVICE COMPONENT -->


<div class="row">
    <div class="medium-12 columns">
        <div class="text-caption-medium">
            <div class="title">
                Hi, How can we help you
            </div>
            <p class="subtitl">Select a service for your furry friends</p>
        </div>
    </div>
    <div class="small-12 medium-6 columns">
        <div class="card-overlay margin-bottom-05">
                <div class="card-image">
                    <img [src]="GROOMINGBANNER" alt="">

                </div>
                <div class="card-content-container">
                    <div class="card-content">
                        <div class="title">
                            Grooming
                        </div>
                        <div class="subtitle hide">
                            this is sub title
                        </div>
                        <div class="button">
                                <a style="color:white" (click)="toGrooming()">Find Now</a>
                            </div>
                    </div>

                </div>

        </div>
    </div>
    <div class="small-12 medium-6 columns">
        <div class="card-overlay margin-bottom-05">
                <div class="card-image">
                    <img [src]="HOTELBANNER" alt="">

                </div>
                <div class="card-content-container">
                    <div class="card-content">
                        <div class="title">
                            Hotel
                        </div>
                        <div class="subtitle hide">
                            this is sub title
                        </div>
                        <div class="button">
                            <a style="color:white" (click)="toHotel()">Find Now</a>
                        </div>
                    </div>

                </div>

        </div>
    </div>

</div>
    <!-- <div class="medium-12 columns">
        <app-block-service-list [type]="'grooming'"></app-block-service-list>
    </div>

    <div class="medium-12 columns">
        <app-block-service-list [type]="'hotel'"></app-block-service-list>
    </div> -->

<!-- ONGOING PROMO COMPONENT -->

<!-- BECOME BUSINESS ACCOUNT COMPONENT -->
<app-download-cta></app-download-cta>

<app-main-footer></app-main-footer>