<div class="main-page padding-center" style="background: #eaeaea;min-height: 100vh">
  <div class="row">
    <div class="medium-8 medium-centered columns">

        <div class="example-container callout">
          <form [formGroup] = "loginForm">
            <h1>Please login</h1>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter your email" formControlName="email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password">
            </mat-form-field>
         </form>
            <button class="button" (click)="login()">Login</button>
            <button class="button" [routerLink]="['/register']">Register</button>
        </div>


        
    </div>
  </div>
</div>

