<div *ngIf = "userChild">
<div class="card-service-profile">
    <div class="header">
        <div class="slider-image">
            <div class="item" *ngIf="serviceType == 'grooming'">
                <img src="{{userChild.host.grooming.photo_urls != null ? userChild.host.grooming.photo_urls[0] : GROOMINGBANNER}}" alt="">
            </div>

            <div class="item" *ngIf="serviceType == 'hotel'">
                    <img src="{{userChild.host.hotel.photo_urls != null ? userChild.host.hotel.photo_urls[0] : HOTELBANNER}}" alt="">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            
            <div class="medium-10 small-9 column">
                <div class="service-type">
                    {{serviceType}}
                </div>
                <h1 class="title" *ngIf="serviceType == 'grooming'">{{userChild.host.grooming.host_name}}</h1> 
                <h1 class="title" *ngIf="serviceType == 'hotel'">{{userChild.host.hotel.host_name}}</h1>
                <ul class="host-usp" *ngIf="userChild.host.grooming.is_company == true">
                        <li>
                            Verified
                        </li>
                        <li>
                                Recommended
                            </li>

                </ul>
                
                
            </div>
            <div class="medium-2 small-3 column text-right">
                    <div class="profile-image">
                        <img src="{{userChild.photo_url}}" alt="">
                    </div>
                    
                </div>
        </div>

        <div class="row">
            <div class="medium-12 columns">
                
                <div class="service-details">
                        <div class="service-rating">

                                <span class="review-stars">{{userChild.host.grooming.total_rating}}</span> 
                                <span class="review-count">( 1000+ Reviews )</span> 
                                <!-- <span class="booked">( 1000+ Booked )</span>  -->
                            </div>
                            <ul class="menu service-chips">
                                    
                                    
                                    <li>Based In {{userChild.address.city}}</li>
                                    <li>|</li>
                                    <li *ngIf="serviceType == 'grooming'">Open Today {{userChild.host.grooming.operationalHours.weekDays.start}} - {{userChild.host.grooming.operationalHours.weekDays.end}} </li>
                                    <li *ngIf="serviceType == 'hotel'">Open Today {{userChild.host.hotel.operationalHours.weekDays.start}} - {{userChild.host.hotel.operationalHours.weekDays.end}} </li>
                                </ul>
                    <div class="service-description" *ngIf="serviceType == 'hotel'">
                        <p>{{userChild.host.hotel.tagline}}</p>
                    </div>

                    <div class="service-description" *ngIf="serviceType == 'grooming'">
                        <p>{{userChild.host.grooming.tagline}}</p>
                    </div>
                    
                    <div class="hide">
                    <div class="service-help text-center">
                            <p class="small-text">Contact Business for schedule details</p>
        
                            <div class="row">
                                    <div class="small-4 columns">
                                        <div class="icon">{{userChild.phone_number}}</div>
                                        <div class="text">Call</div>
                                    </div>
                                    <div class="small-4 columns">
                                            <div class="icon">{{userChild.email}}</div>
                                            <div class="text">Chat</div>
                                        </div>
                                        <div class="small-4 columns" *ngIf="serviceType == 'hotel'">
                                                <div class="icon"  *ngIf= "userChild.host.hotel.coverage_area.city == null; else location">-</div>
                                                <ng-template #location>{{userChild.host.hotel.coverage_area.city}}</ng-template>
                                                <div class="text">Location</div>
                                            </div>

                                        <div class="small-4 columns" *ngIf="serviceType == 'grooming'">
                                                <div class="icon"  *ngIf= "userChild.host.grooming.coverage_area.city == null; else location">-</div>
                                                <ng-template #location>{{userChild.host.grooming.coverage_area.city}}</ng-template>
                                                <div class="text">Location</div>
                                        </div>
                                            
                                </div>
                            
                    </div>
                </div>
                   
                    
                </div>
            </div>
        </div>

    </div>
</div>
</div>
