<div class="group-list rounded-container white">
        <a (click)="toBookingDetails(bookingList.booking_id)">
          <div class="list-group margin-bottom-2">
              <div class="card-booking-list">
                  <div class="list-item header">
                      <div class="flex-2">
                          <span class="booking-date">
                              {{bookingList.start_time}}
                          </span>
                      </div>
                      <div class="flex-2 text-right">
                          <span class="booking-id">
                              {{bookingList.sequence}}
                          </span>
                      </div>
                  </div>
                  <div class="list-item body border-bottom">
          
                      <div class="item-body">
                          <div class="first-line flex-3">
                              <strong>{{bookingList.product.service_type | uppercase}}</strong>
                          </div>
                          <div class="second-line">
                              {{bookingList.product.product_name}}
                          </div>
                      </div>
                      <div class="item-tail flex-1">
                          <fa-icon [icon]="faChevronRight"></fa-icon>
                      </div>
                  </div>
                  <div class="list-item footer">
                      <div class="flex-2">
                          <span class="booking-status">
                              {{bookingList.status}}
                          </span>
                      </div>
          
                  </div>
              </div>
          
          
          
          
          </div>

        </a>
      </div>