<div class="main" style="background: #eaeaea">
    <div class="row small-collapse medium-uncollapse">
      <div class="medium-8 medium-centered column">
          <div class="text-caption-large show-for-medium">
              <div class="title">
                  Customer Details
              </div>
          </div>
          <div class="booking-container">
            <form [formGroup]="contactDetailsForm" class="example-form">
              <div class="booking-callout booking-details">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name" formControlName="full_name" required>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Phone Number" formControlName="phone_number" required>
                    <mat-error *ngIf="contactDetailsForm.get('phone_number').hasError('pattern')">Enter a valid number</mat-error>
                </mat-form-field>

              <div class="form-group" >
                <label>Enter address</label>
                <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
              </div>
              <agm-map 
                [latitude]="latitude" 
                [longitude]="longitude" 
                [zoom]="zoom">
                  <agm-marker 
                      [latitude]="latitude" 
                      [longitude]="longitude"
                      [markerDraggable]="true"
                      (dragEnd)="markerDragEnd($event)">
                  </agm-marker>
                  <agm-circle 
                      [latitude]="latitude" [longitude]="longitude" 
                      [radius]="radius"
                      [editable]="true">
                  </agm-circle>
              </agm-map>
              
                <div formGroupName="address">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Address Details" formControlName="building" required>
                    </mat-form-field>
                </div>
                <button class="button" (click)="setCurrentLocation()">Get Current Location</button>
              </div>
            </form>

  
            <div class="booking-callout">
              <button class="button expanded" [disabled]="!contactDetailsForm.valid" (click)="submit()">Save</button>
            </div>
          </div>
      </div>
    </div>
  </div>