<form class="example-form">
        <div class="text-caption-small">
          <div class="title">
              Upload Photo
          </div>
        </div>
          
        <input class="button" type='file' multiple (change)="upload($event)" accept=".png,.jpg">

        <div class="result" *ngIf="uploadProgress | async" class="medium-12 column"> 
            <div *ngIf="downloadURL" class="medium-12 column">
                <div *ngFor ="let url of downloadURL">
                    <img [src]="url" class="img">
                </div>
                <div class="medium-12 column">
                    Image Preview!
                </div>
            </div>
            <button class="button" (click)="submit(downloadURL)">Upload</button>
        </div>

</form>