<section id="global-usp" class="padding-center white-bg margin-top-2">
    <div class="row">
        <div class="small-4 medium-4 columns">
            <div class="usp-container">
                <div class="row">
                    <div class="medium-4 columns">
                        <div class="image">
                            <img [src]="VERIFIED_IMG" alt="">
                        </div>

                    </div>
                    <div class="medium-8 columns">

                        <div class="title">
                            Verified Host
                        </div>
                        <div class="description">
                            All host are verified
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="small-4 medium-4 columns">
            <div class="usp-container">
                <div class="row">
                    <div class="medium-4 columns">
                        <div class="image">
                            <img [src]="PRACTICAL_IMG" alt="">
                        </div>

                    </div>
                    <div class="medium-8 columns">

                        <div class="title">
                            Simplicity
                        </div>
                        <div class="description">
                          Booked, sitback and relax
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="small-4  medium-4 columns">
            <div class="usp-container">
                <div class="row">
                    <div class="medium-4 columns">
                        <div class="image">
                            <img [src]="INSURANCE_IMG" alt="">
                        </div>

                    </div>
                    <div class="medium-8 columns">

                        <div class="title">
                            Insurance
                        </div>
                        <div class="description">
                            We provide all transaction with inurance partner
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>