<app-booking-header></app-booking-header>

<div class="main" style="background: #eaeaea">
    <div class="row small-collapse medium-uncollapse">
      <div class="medium-8 medium-centered column">
          <!-- <app-login *ngIf="loggedIn == false"></app-login> -->
          <div class="text-caption-large show-for-medium">
              <div class="title">
                  1. Booking Details
              </div>
              <p class="subtitle">Please complete the booking form</p>
          </div>
        <div class="booking-container" *ngIf="loggedIn != false">
          <div class="booking-callout service-details">
            <div class="list-group">
              <div class="list-item flex-05">
                <div class="item-body flex-3">
                  <div class="first-line" *ngIf = "productDetails">
                    {{productDetails.price | currency: 'IDR' : 'symbol' : '4.2-2' : 'id'}}
                  </div>
                  <div class="third-line">
                    Exc. Transportation Fee
                  </div>
                </div>
               
              </div>
            </div>
          </div>
          <form [formGroup]="bookingForm" class="example-form">
            <div class="text-caption-small">
              <div class="title">
                Contact Details
              </div>
            </div>
            <div class="booking-callout contact-details" *ngIf="profileDetails">
              <label *ngIf="bookingForm.valid">Hi, {{profileDetails.full_name}}</label>
              <label *ngIf="!bookingForm.valid">Hi, {{profileDetails.full_name}} please complete
                your profile to continue booking
              </label>
              <button routerLink="/edit-contact" class="button expanded">Edit your Profile here</button>

            </div>
            <div class="text-caption-small">
              <div class="title">
                Booking Details
              </div>
            </div>
            <div class="booking-callout booking-details">
                <mat-form-field class="example-full-width">
                    <input readonly formControlName="start_time" matInput [matDatepicker]="start" placeholder="Request Date" required>
                    <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                    <mat-datepicker #start></mat-datepicker>
                  </mat-form-field>
      
                  <mat-form-field class="example-full-width" *ngIf="serviceType == 'hotel'">
                    <input readonly formControlName="end_time" matInput [matDatepicker]="end" placeholder="End Time" required>
                    <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                    <mat-datepicker #end></mat-datepicker>
                  </mat-form-field>
  
              <mat-form-field class="example-full-width">
                <mat-label>Booking Type</mat-label>
                <mat-select formControlName="type" required>
                  <mat-option value="Drop In">Drop In(On vendor place)</mat-option>
                  <mat-option value="House Call">House Call(In your place)</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>

          <div class="booking-callout">
            <button class="button expanded" (click)="submit()" [disabled]="!bookingForm.valid || origin == 'null'">Continue to Review</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-booking-footer></app-booking-footer>
<!--  -->