<!-- DESKTOP NAV -->

<div class="global-header show-for-medium">
    <div class="list-group">
        <div class="list-item">
            <div class="item-icon flex-2">
                <a routerLink = "">
                    <img [src]="LOGO" alt="" style="max-width: 125px">
                </a>
                
            </div>

            <div class="item-tail flex-3">
                <ul class="menu align-right">
                    <li>
                        <a routerLink = "/account/business/edit-service"><fa-icon [icon]="faBriefcase"></fa-icon> Manage My Business</a>
                    </li>
                    <li>
                        <a routerLink = "/account/customer/booking"><fa-icon [icon]="faCalendarDay"></fa-icon> My Booking</a>
                    </li>
                    <!-- <li>
                        <a>Promos</a>
                    </li> -->
                    
                    <li *ngIf="isLoggedIn == false; else customeraccount">
                        <a routerLink = "/login"><fa-icon [icon]="faUser"></fa-icon> Login / Register</a>
                    </li>
                    <li *ngIf="isLoggedIn != false">
                        <a (click)="logout()"> Logout</a>
                    </li>
                    <ng-template #customeraccount>
                        <a routerLink = "/account/customer/profile"><fa-icon [icon]="faUser"></fa-icon> My Account</a>
                    </ng-template>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- MOBILE NAV -->
<div class="global-header show-for-small-only">
    <div class="list-group">
        <div class="list-item">

            <div class="item-icon flex-05" *ngIf = "this.pageTitle.getTitle() != 'Home'">
                <a (click)="back()"><fa-icon [icon]="faArrowLeft"></fa-icon></a> 
            </div>
            <div class="item-body flex-3">
               <a routerLink="">
                    <img [src]="LOGO" alt="" style="max-width: 100px">
               </a>
            </div>

            <div class="item-tail flex-1">
                Help
            </div>
        </div>
    </div>

</div>