
<div class="main">
        <div class="row small-collapse medium-uncollapse">
          <div class="medium-8 medium-centered column">
              <div class="text-caption-large show-for-medium">
                  <div class="title">
                      {{privacy}}
                  </div>
              </div>
          </div>
        </div>
        <div class="medium-10 columns">
            <div class="main-container">
      
              <div class="callout">
                  <div class="text-caption-small show-for-small-only">
                        <div *ngIf = "no == 1">
                                <p>We collect information which identifies or can be used to identify, contact, or
                                        locate the person or device to whom that information pertains (“Personal
                                        Information”). Personal Information includes, but not limited to, name, address,
                                        date of birth, occupation, phone number, fax number, e-mail address, bank
                                        account and credit-card details, shopping or browsing behaviour, gender,
                                        identification (including KTP, SIM, or Passport) or other government issued
                                        identifier, photo, and nationality. Additionally, to the extent other information, 
                                        including a personal profile, unique identifier, and/or biometric information is
                                        associated or combined with Personal Information, then that information is also
                                        Personal Information. The Personal Information which we collect may be provided
                                        by you directly or by third parties (for example: when you register or use the
                                        Application, when you contact our customer services, or you otherwise provide
                                        Personal Information to us). We may collect information in various forms and
                                        purposes (including purposes permitted under applicable law).</p>
    
                                        <p><br><b>Information obtained from you or from your mobile device directly</b></p>
    
                                        <br>• When you register and create an account with us using the
                                        Application you have to provide to us certain Personal Information,
                                        including your name, e-mail address, and/or password that you will
                                        use to access the Application after registration. If you are using the
                                        Application as a service provider, you have to provide to us with
                                        additional Personal Information as part of the service provider on
                                        boarding process. This would include details of your physical
                                        address, phone number, and your bank account for the purposes of
                                        doing transaction.
                                        <br>• When you use the Application, you have to provide us with relevant
                                        information as may reasonably be required by us in order for the
                                        Application to work, for example:
    
                                        <p><br>• If you are using the Application as a user, you will need to
                                        provide us with information as to the type of service you seek,
                                        and details as to the drop in, pick-up, and/or on demand
                                        booking.
                                        <br>• If you are using the Application as a service provider, in order
                                        for the Application to work, you will need to provide us with the
                                        information on the services you are able to accept orders for at
                                        the time, and details as to your current, and after an order for a
                                        service placed by a user is accepted by you as the service
                                        provider, you may need to provide us with other data that we
                                        need to manage the Application and ecosystem, and to
                                        monitor overall usage of the Application.
                                        <br>• If you utilize and/or when a payment or transfer is made
                                        through the electronic money and/or electronic wallet facility
                                        provided by third party, if you are the payer, you will provide to
                                        us information relating to the utilization, payment or transfer,
                                        including but not limited to the transfer and/or payment 
                                        receiver details, the amount of payment paid, the type of
                                        payment card used, the name of the issuer of that payment
                                        card, the name of the account holder for that payment card
                                        and the number of that payment card.
                                        <br>• If you are the service provider and looking to be verified by us,
                                        you need to submit some infomormation and details abour
                                        your services, this include the certification and others
                                        supporting documents.</p>
    
                                        <p><br><b>Information collected whenever you use the Application or visit our
                                        website</b></p>
    
                                        <br>• Whenever you use the Application or visit our website, we may collect
                                        certain technical data concerning your usage such as, internet
                                        protocol (IP) address, information as web pages previously or
                                        subsequently viewed, duration of every visit/session, the internet
                                        device identity (ID) or media access control address, and also
                                        information regarding the manufacturer, model and operating system
                                        of the device that you use to access the Application or our website.
                                        <br>• Whenever you use the Application or visit our website, certain
                                        information may also be collected on an automated basis using
                                        cookies. Cookies are small application files stored on your computer
                                        or mobile device. We use cookies to track user activity to enhance
                                        user interface and experience. Most mobile devices and internet
                                        browsers support the use of cookies; but you may adjust the settings
                                        on your mobile device or internet browser to reject several types of
                                        certain cookies or certain specific cookies. Your mobile device and/or
                                        browser would also enable you to delete at any time whatever
                                        cookies have previously been stored. However, doing so may affect
                                        the functionalities available on the Application or our website.
                                        <br>• Whenever you use the Application through your mobile device, we
                                        will track and collect your geo-location information in real-time. In
                                        some cases, you will be prompted or required to activate the Global
                                        Positioning System (GPS) on your mobile device to enable us to give
                                        you a better experience in using the Application (for example, to give
                                        you information as to how close a service provider is to you). You can
                                        always choose to disable the geo-location tracking information on
                                        your mobile device temporarily. However, this can affect the
                                        functionalities available on the Application. 
                                        <br>• If you utilize virtual account provided by us to receive electronic
                                        money and/or electronic wallet payment from payer, whether you are
                                        a service provider or merchant, we may collect certain information
                                        related to your utilization including but not limited to service and/or
                                        goods transacted, amount you collect from every transaction,
                                        withdrawal or settlement account details and withdrawal or settlement
                                        history.
    
                                        <p><br><b>Information collected from third parties</b></p>
                                        We may also collect your Personal Information from third parties (including
                                        our agents, vendors, suppliers, contractors, partners and any others who
                                        provide services to us, perform functions on our behalf, or whom we
                                        collaborate with). In such cases, we will only collect your Personal
                                        Information for or in connection with the purposes for which such third
                                        parties are engaged or the purposes of our collaboration with such third
                                        parties (as the case may be).
                                        <p><br><b>Information about third parties you provide to us</b></p>
                                        You may provide us with Personal Information relating to other third-party
                                        individuals (including Personal Information relating to your spouse, family
                                        members, friends, or other individuals). you will, of course, need their
                                        consent to do so – see “Acknowledgement and Consent”, below, for further
                                        information
                        </div>
                    </div>
                    <div class="text-caption-medium show-for-medium">
                            <div *ngIf = "no == 1">
                                    <p>We collect information which identifies or can be used to identify, contact, or
                                    locate the person or device to whom that information pertains (“Personal
                                    Information”). Personal Information includes, but not limited to, name, address,
                                    date of birth, occupation, phone number, fax number, e-mail address, bank
                                    account and credit-card details, shopping or browsing behaviour, gender,
                                    identification (including KTP, SIM, or Passport) or other government issued
                                    identifier, photo, and nationality. Additionally, to the extent other information, 
                                    including a personal profile, unique identifier, and/or biometric information is
                                    associated or combined with Personal Information, then that information is also
                                    Personal Information. The Personal Information which we collect may be provided
                                    by you directly or by third parties (for example: when you register or use the
                                    Application, when you contact our customer services, or you otherwise provide
                                    Personal Information to us). We may collect information in various forms and
                                    purposes (including purposes permitted under applicable law).</p>

                                    <p><br><b>Information obtained from you or from your mobile device directly</b></p>

                                    <br>• When you register and create an account with us using the
                                    Application you have to provide to us certain Personal Information,
                                    including your name, e-mail address, and/or password that you will
                                    use to access the Application after registration. If you are using the
                                    Application as a service provider, you have to provide to us with
                                    additional Personal Information as part of the service provider on
                                    boarding process. This would include details of your physical
                                    address, phone number, and your bank account for the purposes of
                                    doing transaction.
                                    <br>• When you use the Application, you have to provide us with relevant
                                    information as may reasonably be required by us in order for the
                                    Application to work, for example:

                                    <p><br>• If you are using the Application as a user, you will need to
                                    provide us with information as to the type of service you seek,
                                    and details as to the drop in, pick-up, and/or on demand
                                    booking.
                                    <br>• If you are using the Application as a service provider, in order
                                    for the Application to work, you will need to provide us with the
                                    information on the services you are able to accept orders for at
                                    the time, and details as to your current, and after an order for a
                                    service placed by a user is accepted by you as the service
                                    provider, you may need to provide us with other data that we
                                    need to manage the Application and ecosystem, and to
                                    monitor overall usage of the Application.
                                    <br>• If you utilize and/or when a payment or transfer is made
                                    through the electronic money and/or electronic wallet facility
                                    provided by third party, if you are the payer, you will provide to
                                    us information relating to the utilization, payment or transfer,
                                    including but not limited to the transfer and/or payment 
                                    receiver details, the amount of payment paid, the type of
                                    payment card used, the name of the issuer of that payment
                                    card, the name of the account holder for that payment card
                                    and the number of that payment card.
                                    <br>• If you are the service provider and looking to be verified by us,
                                    you need to submit some infomormation and details abour
                                    your services, this include the certification and others
                                    supporting documents.</p>

                                    <p><br><b>Information collected whenever you use the Application or visit our
                                    website</b></p>

                                    <br>• Whenever you use the Application or visit our website, we may collect
                                    certain technical data concerning your usage such as, internet
                                    protocol (IP) address, information as web pages previously or
                                    subsequently viewed, duration of every visit/session, the internet
                                    device identity (ID) or media access control address, and also
                                    information regarding the manufacturer, model and operating system
                                    of the device that you use to access the Application or our website.
                                    <br>• Whenever you use the Application or visit our website, certain
                                    information may also be collected on an automated basis using
                                    cookies. Cookies are small application files stored on your computer
                                    or mobile device. We use cookies to track user activity to enhance
                                    user interface and experience. Most mobile devices and internet
                                    browsers support the use of cookies; but you may adjust the settings
                                    on your mobile device or internet browser to reject several types of
                                    certain cookies or certain specific cookies. Your mobile device and/or
                                    browser would also enable you to delete at any time whatever
                                    cookies have previously been stored. However, doing so may affect
                                    the functionalities available on the Application or our website.
                                    <br>• Whenever you use the Application through your mobile device, we
                                    will track and collect your geo-location information in real-time. In
                                    some cases, you will be prompted or required to activate the Global
                                    Positioning System (GPS) on your mobile device to enable us to give
                                    you a better experience in using the Application (for example, to give
                                    you information as to how close a service provider is to you). You can
                                    always choose to disable the geo-location tracking information on
                                    your mobile device temporarily. However, this can affect the
                                    functionalities available on the Application. 
                                    <br>• If you utilize virtual account provided by us to receive electronic
                                    money and/or electronic wallet payment from payer, whether you are
                                    a service provider or merchant, we may collect certain information
                                    related to your utilization including but not limited to service and/or
                                    goods transacted, amount you collect from every transaction,
                                    withdrawal or settlement account details and withdrawal or settlement
                                    history.

                                    <p><br><b>Information collected from third parties</b></p>
                                    We may also collect your Personal Information from third parties (including
                                    our agents, vendors, suppliers, contractors, partners and any others who
                                    provide services to us, perform functions on our behalf, or whom we
                                    collaborate with). In such cases, we will only collect your Personal
                                    Information for or in connection with the purposes for which such third
                                    parties are engaged or the purposes of our collaboration with such third
                                    parties (as the case may be).
                                    <p><br><b>Information about third parties you provide to us</b></p>
                                    You may provide us with Personal Information relating to other third-party
                                    individuals (including Personal Information relating to your spouse, family
                                    members, friends, or other individuals). you will, of course, need their
                                    consent to do so – see “Acknowledgement and Consent”, below, for further
                                    information
                            </div>
                            <div *ngIf = "no == 2">
                                    <p>We may use Personal Information collected for any of the following purposes as
                                    well as for such other purposes as are permitted by applicable law (“Purposes”):</p>
                                    <p><br>a. If you are a user, we may use your Personal Information:
                                    <br>• to identify you and to register you as a user and to administer, verify,
                                    deactivate, or manage your account as such;
                                    <br>• to facilitate or enable any verification as we may in our discretion
                                    consider necessary before we register you as a user, including Know
                                    Your Customer (KYC) process;
                                    <br>• to enable service providers to provide you with such of the services
                                    as you have requested;
                                    <br>• to process and facilitate orders and payment transactions made by
                                    you; 
                                    <br> • to communicate with you and to send you information in connection
                                    with the use of the Application;
                                    <br>• to notify you of any updates to the Application or changes to the
                                    services available;
                                    <br>• to process and respond to enquiries and feedback received from
                                    you;
                                    <br>• to maintain, develop, test, enhance and personalize the Application
                                    to meet your needs and preferences as a user;
                                    <br>• to monitor and analyse user activities, behaviour, and demographic
                                    data including trends and usage of the various services available on
                                    the Application;
                                    <br>• to offer or provide services from our affiliates or partners; and
                                    <br>• to send you direct or targeted marketing communications,
                                    advertisement, vouchers, surveys, and information on special offers
                                    or promotions.</p>
                                    <p><br>b. Where you are a service provider, we may use your Personal Information:
                                    <br>• to identify you and to register you as a service provider and to
                                    administer, manage or verify your Account as such;
                                    <br>• to facilitate or enable any verification as we may in our discretion
                                    consider necessary before we register you as a service provider;
                                    <br>• to enable you to provide services to users;
                                    <br>• to process, facilitate, and complete payments due to you relating to
                                    any services you have provided;
                                    <br>• to communicate with you and send you information in relation to the
                                    provision of your services, including to relay user orders to you and to
                                    facilitate your acceptance of such orders;
                                    <br>• to provide you with notification and updates on the Application or
                                    changes to the manner in which services are to be provided;
                                    <br>• to provide you with a report in relation to the Services that you have
                                    provided;
                                    <br>• to process and respond to feedback from users on the services
                                    which you have provided; 
                                    <br>• to maintain, develop, test, enhance and personalize the Application
                                    to meet your needs and preferences as a service provider;
                                    <br>• to monitor and analyse user activities, behaviour, and demographic
                                    data including trends and service provider responsiveness for the
                                    various services available on the Application;
                                    <br>• to process and manage your reward points;
                                    <br>• to offer or provide services from our affiliates or partners;
                                    <br>• to send you direct or targeted marketing communications,
                                    advertisement, promos, surveys, and information on special offers or
                                    promotions.</p>
                                    <p><br>c. Whether you are a user or a service provider or otherwise provide Personal
                                    Information to us, we may also use your Personal Information more generally
                                    for the following purposes (although we will in each such case always act
                                    reasonably and use no more Personal Information than what is required for
                                    the particular purpose):
                                    <br>• to undertake associated business processes and functions;
                                    <br>• to monitor usage of the Application and administer, support and
                                    improve the performance efficiency, growth, user experience and the
                                    functions of the Application;
                                    <br>• to provide assistance in relation to and to resolve any technical
                                    difficulties or operational problems with the Application or the
                                    services;
                                    <br>• to generate statistical information and anonymous analytics data for
                                    the purpose of testing, research, analysis, product development,
                                    commercial partnership, and collaboration;
                                    <br>• to prevent, detect and investigate any prohibited, illegal,
                                    unauthorized or fraudulent activities;
                                    <br>• to facilitate business asset transactions (which may extend to any
                                    mergers, acquisitions or asset sales) involving us and/or any of our
                                    affiliates; and
                                    <br>• to enable us to comply with our obligations under any applicable law
                                    (including but not limited to responding to regulatory enquiries,
                                    investigations or directives) and conducting audit checks, due
                                    diligence and investigations.</p>
                            </div>
                            <div *ngIf = "no == 3">
                                    <p><br>a. We may disclose to or share with affiliates and other parties your Personal
                                    Information for any of the following purposes as well as for such other purposes as
                                    are permitted by applicable law:
                                    <br>• where you are a user, for the purpose of enabling a service provider,
                                    to perform or deliver a service;
                                    <br>• where you are a service provider, for the purpose of enabling a user
                                    to request or receive a service from you;
                                    <br>• where required or authorised by applicable law (including but not
                                    limited to responding to regulatory enquiries, investigations or
                                    directives, or complying with statutory or regulatory filing and
                                    reporting requirements), for the purpose so specified in that
                                    Applicable Law;
                                    <br>• where there is any form of legal proceeding between you and us, or
                                    between you and another party, in connection with, or relating to the
                                    services, for the purposes of that legal proceeding;
                                    <br>• in relation to any verification as we or a service provider may in our
                                    discretion consider necessary before we register you as a user,
                                    including Know Your Customer (KYC) process;
                                    <br>• in an emergency concerning your health and/or safety (whether you
                                    are a user or a service provider) for the purposes of dealing with that
                                    emergency;
                                    <br>• in connection with, any merger, sale of company assets,
                                    consolidation or restructuring, financing or acquisition of all or a
                                    portion of our business by or into another company, for the purposes
                                    of such a transaction (even if the transaction is eventually not
                                    proceeded with);
                                    <br>• to third parties (including our agents, vendors, suppliers, contractors,
                                    partners and any others who provide services to us or you, perform
                                    functions on our behalf, or whom we enter into commercial
                                    collaboration with) for or in connection with the purposes for which
                                    such third parties are engaged or the purposes of our collaboration
                                    with such third parties (as the case may be), which may include
                                    allowing such third parties to introduce or offer products or services 
                                    to you, or other conducting activities including marketing, research,
                                    analysis and product development; and
                                    <br>• where we share Personal Information with affiliates, we will do so for
                                    the purpose of them helping us to provide the Application, to operate
                                    our business (including, where you have subscribed to our mailing
                                    list, for direct marketing purposes), or for the purpose of them
                                    conducting data processing on our behalf. For example, a PETLOKA
                                    Affiliate in another country may process and/or store your Personal
                                    Information on behalf of the PETLOKA company in your country. All of
                                    our affiliates are committed to processing the Personal Information
                                    that they receive from us in line with this Privacy Policy and
                                    applicable law.</p>
                                    <p><br>b. Where it is not necessary for the Personal Information to be associated with
                                    you, we will use reasonable endeavors to remove the means by which the
                                    Personal Information can be associated with you as an individual before
                                    disclosing or sharing such information.</p>
                                    <p><br>c. We will not sell or lease your Personal Information.</p>
                                    <p><br>d. Other than as provided for in this Privacy Policy, we may disclose or share your
                                    Personal Information if we notify you and we have obtained your consent for the
                                    disclosure or sharing.</p>
                            </div>
                            <div *ngIf = "no == 4">
                                    <p>a. Your Personal Information will only be held for as long as it is necessary to
                                    fulfill the purpose for which it was collected, or for as long as such retention
                                    is required or authorised by Applicable Law. We shall cease to retain
                                    Personal Information, or remove the means by which the Personal
                                    Information can be associated with you as an individual, as soon as it is
                                    reasonable to assume that the purpose for which that Personal Information
                                    was collected is no longer being served by retention of Personal Information
                                    and retention is no longer necessary for legal or business purposes.</p>
                                    <br>b. Please note that there is still the possibility that some of your Personal
                                    Information might be retained by the other party (including by the service
                                    provider, if you are the user; or by the user, if you are the service Provider) in
                                    some manner. Information relayed through communications between users
                                    and service providers made other than through the use the Application
                                    (such as by telephone calls, SMS, mobile messaging or other method of
                                    communication) may also be retained by some means. We do not authorise 
                                    and encourage the retention of Personal Information by such means and we
                                    have no responsibility to you for the same. We shall not be liable for any
                                    such retention of your Personal Information. You agree to indemnify, defend
                                    and release us, our officers, directors, employees, agents, partners,
                                    suppliers, contractors and Affiliates from and against any and all claims,
                                    losses, liabilities, expenses, damages and costs (including but not limited to
                                    legal costs and expenses on a full indemnity basis) resulting directly or
                                    indirectly from any unauthorised retention of your Personal Information. 
                            </div>
                            <div *ngIf="no == 5">
                                    <p>a. Subject to the applicable law, you may request us for access to and/or the
                                    correction of your Personal Information in our possession and control, by
                                    contacting us at the details provided below.</p>
                                    <br>b. We reserve the right to refuse your requests for access to, or to correct,
                                    some or all of your Personal Information in our possession or control if
                                    permitted or required under any applicable law. This may include
                                    circumstances where the Personal Information may contain references to
                                    other individuals or where the request for access or request to correct is for
                                    reasons which we reasonably consider to be trivial, frivolous or vexatious.
                            </div>
                            <div *ngIf="no == 6">
                                    <p>a. The Personal Information that we collect from you may be stored at,
                                    transferred to, or processed by third party service providers. We will use all
                                    reasonable endeavors to ensure that all such third-party service providers
                                    provide a level of protection that is comparable to our commitments under
                                    this Privacy Policy.</p>
                                    <br>b. Your Personal Information may also be stored or processed outside of your
                                    country by personnel who work for us in other countries, or by our thirdparty service providers, vendors, suppliers, partners, contractors or
                                    Affiliates. In such a case, we will ensure that such Personal Information
                                    remains subject to a level of protection comparable to what is required
                                    under the laws of your country (and, in any event, in line with our
                                    commitments in this Privacy Policy).
                            </div>
                            <div *ngIf="no == 7">
                                    Confidentiality of your Personal Information is of utmost importance to us. We will
                                    use all reasonable efforts to protect and secure your Personal Information against
                                    access, collection, use or disclosure by unauthorised persons and against unlawful
                                    processing, accidental loss, destruction and damage or similar risks. Unfortunately,
                                    the transmission of information via the Internet is not completely secure. Although
                                    we will do our best to protect your Personal Information, you acknowledge that we
                                    cannot guarantee the integrity and accuracy of any Personal Information which you
                                    transmit over the Internet, nor guarantee that such Personal Information would not
                                    be intercepted, accessed, disclosed, altered or destroyed by unauthorised third
                                    parties, due to factors beyond our control. You are responsible for keeping your
                                    account details confidential and you must not share your account details, including
                                    your password and One Time Password (OTP), with anyone and you must always
                                    maintain and fully responsible on the security of the device that you use.
                            </div>
                            <div *ngIf="no == 8">
                                We may review and amend this Privacy Policy at our sole discretion from time to
                                time, to ensure that it is consistent with our future developments, and/or changes in
                                legal or regulatory requirements. If we decide to amend this Privacy Policy, we will
                                notify you of any such amendments by means of a general notice published on the
                                Application and/or website, or otherwise to your e-mail address set out in your
                                account. You agree that it is your responsibility to review this Privacy Policy
                                regularly for the latest information on our data processing and data protection
                                practices, and that your continued use of the Application or website,
                                communications with us, or access to and use of the services following any
                                amendments to this Privacy Policy will constitute your acceptance to this Privacy
                                Policy and all of its amendments
                            </div>
                            <div *ngIf="no == 9">
                                <p>a. By accepting the Privacy Policy, you acknowledge that you have read and
                                understood this Privacy Policy and you accept all of its terms. In particular,
                                you agree and consent to us collecting, using, sharing, disclosing, storing,
                                transferring, or otherwise processing your Personal Information in
                                accordance with this Privacy Policy.</p>
                                <p><br>b. In circumstances where you provide us with Personal Information relating to
                                other individuals (such as Personal Information relating to your spouse,
                                family members, friends, or other parties), you represent and warrant that
                                you have obtained such individual’s consent for, and hereby consent on 
                                behalf of such individual to, the collection, use, disclosure and processing
                                of his/her Personal Information by us.</p>
                                <br>c. You may withdraw your consent to any or all collection, use or disclosure of
                                your Personal Information at any time by giving us reasonable notice in
                                writing using the contact details stated below. You may also withdraw your
                                consent for us to send you certain communications and information via any
                                “opt-out” or “unsubscribe” facility contained in our messages to you.
                                Depending on the circumstances and the nature of the consent which you
                                are withdrawing, you must understand and acknowledge that after such
                                withdrawal of consent, you may no longer be able to use the Application or
                                services. A withdrawal of consent by you may result in the termination of
                                your account or of your contractual relationship with us, with all accrued
                                rights and obligations remaining fully reserved. Upon receipt of your notice
                                to withdraw consent for any collection, use or disclosure of your Personal
                                Information, we will inform you of the likely consequences of such
                                withdrawal so that you can decide if indeed you wish to withdraw consent.
                            </div>
                            <div *ngIf="no == 10">
                                We and our partners may send you direct marketing, advertisement, and
                                promotional communications via push-notification app, message in Application,
                                post, telephone call, short message service (SMS), and e-mail (“Marketing
                                Materials”) if you have agreed to subscribe to our mailing list, and/or consented to
                                receive marketing and promotional materials from us. You may opt out from
                                receiving such marketing communications at any time by clicking on any
                                “unsubscribe” facility embedded in the relevant message, or otherwise contacting
                                us using the contact details stated below. Please note that if you opt out, we may
                                still send you non-promotional messages, such as ride receipts or information
                                about your account
                            </div>
                            <div *ngIf="no == 11">
                                We may create, use, license or disclose Personal Information, provided, however,
                                (i) that all identifiers have been removed such that the data, alone or in combination
                                with other available data, cannot be attributed to or associated with or cannot
                                identify any person, and (ii) that has been combined with similar data such that the
                                original data forms a part of a larger data set.
                            </div>
                            <div *ngIf="no == 12">
                                <p>a. The Application, website, and Marketing Materials may contain links to
                                websites that are operated by third parties. We do not control nor accept
                                liability or responsibility for these websites and for the collection, use,
                                maintenance, sharing, or disclosure of data and information by such third
                                parties. Please consult the terms and conditions and privacy policies of
                                those third-party websites to find out how they collect and use your Personal
                                Information.</p>
                                <br>b. Advertisements contained on our Application, website, or Marketing
                                Materials operate as links to the advertiser’s website and as such any
                                information they collect by virtue of your clicking on that link will be
                                collected and used by the relevant advertiser in accordance with the
                                privacy policy of that advertiser. 
                            </div>
                            <div *ngIf="no == 13">
                                If you have any questions regarding this Privacy Policy or you would like to obtain
                                access and/or make corrections to your Personal Information, please contact
                                admin@petloka.com
                            </div>
                    </div>
                </div>
          </div>
        </div>
      </div>
    <!--  -->