<div class="medium-12 columns">
    <div class="main-container">
      <div class="callout">
        <div *ngIf="orderDetails">
          <div class="text-caption-medium show-for-medium">
              <div class="title">
                Order Details
              </div>
            </div>
          <p>
            Booking Id      : {{orderDetails.sequence}}
          </p>
          <p>
            Booking Time    : {{orderDetails.start_time}}
          </p>
          <p>
            Type            : {{orderDetails.type}}
          </p>
          <p>
            Transport Fee   : {{orderDetails.transport_fee | currency: 'IDR' : 'symbol' : '4.2-2' : 'id'}}
          </p>
          <p>
            Discount        : -{{orderDetails.deduction | currency: 'IDR' : 'symbol' : '4.2-2' : 'id'}}
          </p>
          <p>
            Total           : {{total | currency: 'IDR' : 'symbol' : '4.2-2' : 'id'}}
          </p>
          <p>
            Status          : {{orderStatus}}
          </p>
                <div>
                <button mat-flat-button color="primary" [disabled]="orderStatus == 'Completed'" selected (click)="changeStatus(orderDetails.booking_id, 'COMPLETED')">Completed</button>
                <button mat-flat-button color="accent" [disabled]="orderStatus == 'On Process' || orderStatus == 'Completed'" selected (click)="changeStatus(orderDetails.booking_id, 'HOST_NOTIFIED')">Processing</button>
                </div>
          
          

          <div class="text-caption-medium show-for-medium">
              <div class="title">
               Order Address
              </div>
            </div>
          <p>
            Street          : {{orderDetails.booking_address.street}}
          </p>
          <p>
            City            : {{orderDetails.booking_address.city}}
          </p>

          <div class="text-caption-medium show-for-medium">
              <div class="title">
               Host Details
              </div>
          </div>
          <p>
            Email             : {{orderDetails.host.email}}
          </p>
          <p>
            Name              : {{orderDetails.host.full_name}}
          </p>
          <p>
            Host Phone Number : {{orderDetails.host.phone_number}}
          </p>
          <p>
            Location          : {{orderDetails.host.address.city}}, {{orderDetails.host.address.street}}
          </p>

          <div class="text-caption-medium show-for-medium">
            <div class="title">
             Customer Details
            </div>
          </div>
          <p>
              Email                 : {{orderDetails.customer.email}}
          </p>
          <p>
              Customer ID           : {{orderDetails.customer.user_id}}
          </p>
          <p>
              Contact Name          : {{orderDetails.contact_name}}
          </p>
          <p>
              Contact Phone Number  : {{orderDetails.contact_number}}
          </p>
          <p>
              Location              : {{orderDetails.customer.address.city}}, {{orderDetails.customer.address.street}}
          </p>

          <div class="text-caption-medium show-for-medium">
              <div class="title">
               Product Details
              </div>
            </div>
            <p>
              Product ID    : {{orderDetails.product.product_id}}
            </p>
            <p>
              Product Name  : {{orderDetails.product.product_name}}
            </p>
            <p>
              About         : {{orderDetails.product.about}}
            </p>
            <p>
              Type          : {{orderDetails.product.service_type}}
            </p>
            <p>
              Price         : {{orderDetails.product.price | currency: 'IDR' : 'symbol' : '4.2-2' : 'id'}}
            </p>
            <p>
              Note          : {{orderDetails.product.note}}
            </p>

        </div>
      </div>
  </div>
</div>