
<div class="main">
    <div class="row small-collapse medium-uncollapse">
      <div class="medium-8 medium-centered column">
          <div class="text-caption-large show-for-medium">
              <div class="title">
                Petloka Help Center
              </div>
          </div>
      </div>
    </div>
    <div class="medium-10 columns">
        <div class="main-container">
  
          <div class="callout">
              <div class="text-caption-small show-for-small-only">
                <p>1. What is Petloka? Petloka is an on demand platform for pet services, we help pet
                  owners to find best services to their pet.
                </p>
                <p>2. Where can I download petloka app? You can download our app from IOS Apple
                  Store and Android Play Store
                </p>
                <p>3. What service does Petloka offer? We have 2 services at the moment; grooming
                  and hotel.
                </p>
                <p>4. What type of pets does Petloka accept? Only Dogs and Cats are accepted at
                  the moment in Petloka platform.
                </p>
                <p>5. How to sign up to provide pet services? You can go to your profile in Petloka app
                  and choose manage business. Then you can add what service you want to provide
                  and which area you cover.</p>
                <p>6. How to book the services? You can book our services from website and app.
                  You can choose area and type or service first after that you choose the service
                  providers that best suits to your needs.</p>
                <p>7. How to check availability of the vendor? Prior to your booking, you can use our
                  call or chat feature to communicate 1st with the vendor about the time
                  availability/schedule.</p>
                <p>8. How to pay the services? After you have chosen you wish to have you can
                  proceed to the next step which is payment step. At the moment our payment can be
                  done by bank transfer, credit card and m-banking.</p>
                <p>9. Can I cancel after I paid? At the moment, services that already paid can’t be
                  cancelled or refund.</p>
                <p>10. How do I get paid for booking? The Payments section of your account allows
                  you to view, manage, and withdraw funds for completed bookings. Payments for
                  Petloka bookings will be available for withdrawal 3 days after you successfully
                  complete a service.</p>
                <p>11. I forget my password, what to do? You can click “forget password” in sign in
                  page, after that we will send an email for the password recovery.</p>
                </div>

                
              <div class="text-caption-medium show-for-medium">
                <p>1. What is Petloka? Petloka is an on demand platform for pet services, we help pet
                  owners to find best services to their pet.
                </p>
                <p>2. Where can I download petloka app? You can download our app from IOS Apple
                  Store and Android Play Store
                </p>
                <p>3. What service does Petloka offer? We have 2 services at the moment; grooming
                  and hotel.
                </p>
                <p>4. What type of pets does Petloka accept? Only Dogs and Cats are accepted at
                  the moment in Petloka platform.
                </p>
                <p>5. How to sign up to provide pet services? You can go to your profile in Petloka app
                  and choose manage business. Then you can add what service you want to provide
                  and which area you cover.</p>
                <p>6. How to book the services? You can book our services from website and app.
                  You can choose area and type or service first after that you choose the service
                  providers that best suits to your needs.</p>
                <p>7. How to check availability of the vendor? Prior to your booking, you can use our
                  call or chat feature to communicate 1st with the vendor about the time
                  availability/schedule.</p>
                <p>8. How to pay the services? After you have chosen you wish to have you can
                  proceed to the next step which is payment step. At the moment our payment can be
                  done by bank transfer, credit card and m-banking.</p>
                <p>9. Can I cancel after I paid? At the moment, services that already paid can’t be
                  cancelled or refund.</p>
                <p>10. How do I get paid for booking? The Payments section of your account allows
                  you to view, manage, and withdraw funds for completed bookings. Payments for
                  Petloka bookings will be available for withdrawal 3 days after you successfully
                  complete a service.</p>
                <p>11. I forget my password, what to do? You can click “forget password” in sign in
                  page, after that we will send an email for the password recovery.</p>
                </div>
            </div>
      </div>
    </div>
  </div>
<!--  -->