<div class="text-caption-large">
    <div class="title">
        Payout List
    </div>
</div>
<div class="mat-elevation-z8">
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>
<table mat-table matSort [dataSource]="payoutList" class="mat-elevation-z8">

    <ng-container matColumnDef="payout_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Payout ID </th>
        <td mat-cell *matCellDef="let payoutList"> {{payoutList.payout_id}} </td>
    </ng-container>

    <ng-container matColumnDef="booking_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Booking ID </th>
        <td mat-cell *matCellDef="let payoutList"> {{payoutList.booking.sequence}} </td>
    </ng-container>

    <ng-container matColumnDef="host_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Host Name </th>
        <td mat-cell *matCellDef="let payoutList"> {{payoutList.user.full_name}} </td>
    </ng-container>

    <ng-container matColumnDef="payout_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Payout Date </th>
        <td mat-cell *matCellDef="let payoutList"> {{payoutList.booking.start_time}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let payoutList"> {{payoutList.status}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let payoutList"> 
            <a (click)="payoutDetails(payoutList.booking.booking_id)">View</a> 
          </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator pageSize="10" showFirstLastButtons></mat-paginator>
</div>