<app-main-header></app-main-header>

<div class="main-page" style="background: #eaeaea">
  
  <div class="row small-collapse medium-uncollapse">
    <div class="medium-8 medium-centered columns">
      <div class="text-caption-small">
        <div class="title">
          Account
        </div>
      </div>
    
      <div class="list-group margin-bottom-2 white-bg">
        <a routerLink="/account/business/">
          <div class="list-item border-bottom">
    
            <div class="item-body flex-3">
              <div class="first-line">
                Manage My Business
              </div>
              <div class="second-line">
                Switch to Business Profile
              </div>
            </div>
            <div class="item-tail">
              <fa-icon [icon]="faChevronRight"></fa-icon>
            </div>
    
          </div>
    
        </a>
    
    
    
      </div>
    
      <div class="list-group margin-bottom-2 white-bg">
        <a routerLink="/account/customer/profile">
          <div class="list-item border-bottom">
    
            <div class="item-body flex-3">
              <div class="first-line">
                Edit Profile
              </div>
              <div class="second-line">
                Edit your personal information
              </div>
            </div>
            <div class="item-tail">
              <fa-icon [icon]="faChevronRight"></fa-icon>
            </div>
    
          </div>
        </a>
        <a routerLink="/account/customer/booking">
          <div class="list-item border-bottom">
    
            <div class="item-body flex-3">
              <div class="first-line">
                My Booking
              </div>
              <div class="second-line">
                Check your booking process and history
              </div>
            </div>
            <div class="item-tail">
              <fa-icon [icon]="faChevronRight"></fa-icon>
            </div>
    
          </div>
        </a>
    
      </div>
    
    
      <div class="list-group margin-bottom-2 white-bg">

        <div class="hide">
        <a href="#">
          <div class="list-item border-bottom">
    
            <div class="item-body flex-3">
              <div class="first-line">
                Help
              </div>
              <div class="second-line">
                In your place
              </div>
            </div>
            <div class="item-tail">
              <fa-icon [icon]="faChevronRight"></fa-icon>
            </div>
    
          </div>
    
        </a>
      </div>
    
    
    
      </div>
    </div>
  </div>

</div>
<app-main-footer></app-main-footer>