<div class="search-bar">
    <div class="row">
        <div class="medium-8 columns">
            <div class="medium-6 columns">
                <form>
                    <mat-form-field class="example-full-width">
                        <input (ngModelChange)="this.locService.check($event, locations)" placeholder="Select Location" aria-label="Number" matInput [formControl]="locationsControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let location of filteredLocations | async" [value]="location.name">
                            {{location.name}}
                          </mat-option> 
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-error *ngIf="this.locService.getMatcher() == 'Error'">Not a valid Location</mat-error>
                   

                </form>
            </div>
            <div class="medium-6 columns">
                <mat-form-field class="example-full-width" hideRequiredMarker>
                    <mat-select placeholder="Select Service" [formControl]="serviceType" required>
                        <mat-option value="grooming">Grooming</mat-option>
                        <mat-option value="hotel">Hotel</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-error *ngIf="serviceType.hasError('required') && serviceType.touched">Service Type Required</mat-error>
            </div>
        </div>
        <div class="medium-4 columns">
            <button [disabled]="!serviceType.valid" (click)="toSearchResult()" class="button expanded">Search</button>
            </div>
    </div>
</div>