<h1 mat-dialog-title>{{data.message}}</h1>
<div mat-dialog-content>
</div>
<div mat-dialog-actions>
    <button class="button" (click)="action(data.button)" mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </div>