<div class="medium-12 columns">
        <div class="main-container">
          <div class="callout">
            <div *ngIf="payoutDetails">
              <div class="text-caption-medium show-for-medium">
                  <div class="title">
                    Payout Details
                  </div>
                </div>
              <p>
                Payout Id      : {{payoutDetails.payout_id}}
              </p>
              <p>
                Booking Time    : {{payoutDetails.booking.start_time}}
              </p>
              <p>
                Type            : {{payoutDetails.booking.type}}
              </p>
              <p>
                Transport Fee   : {{payoutDetails.booking.transport_fee | currency: 'IDR' : 'symbol' : '4.2-2' : 'id'}}
              </p>
              <p>
                Discount Price  : -{{payoutDetails.booking.deduction | currency: 'IDR' : 'symbol' : '4.2-2' : 'id'}}
              </p>
              <p>
                Total           : {{total  | currency: 'IDR' : 'symbol' : '4.2-2' : 'id'}}
              </p>
              <p>
                Status          : {{payoutDetails.status}}
              </p>
                    <div>
                    <button mat-flat-button color="primary" selected (click)="changeStatus(payoutDetails.booking.booking_id, 'SETTLED')">Completed</button>
                    <!-- <button mat-flat-button color="accent" selected (click)="changeStatus(payoutDetails.booking.booking_id, 'PROCESSING')">Processing</button> -->
                    </div>
              
              
    
              <div class="text-caption-medium show-for-medium">
                  <div class="title">
                   Payout Address
                  </div>
                </div>
              <p>
                Street          : {{payoutDetails.booking.booking_address.street}}
              </p>
              <p>
                City            : {{payoutDetails.booking.booking_address.city}}
              </p>
    
              <div class="text-caption-medium show-for-medium">
                  <div class="title">
                   Host Details
                  </div>
              </div>
              <p>
                Email             : {{payoutDetails.user.email}}
              </p>
              <p>
                Name              : {{payoutDetails.user.full_name}}
              </p>
              <p>
                Host Phone Number : {{payoutDetails.user.phone_number}}
              </p>
              <p>
                Location          : {{payoutDetails.user.address.city}}, {{payoutDetails.user.address.street}}
              </p>
    
              <div class="text-caption-medium show-for-medium">
                <div class="title">
                 Customer Details
                </div>
              </div>
              <p>
                  Contact Name          : {{payoutDetails.booking.contact_name}}
              </p>
              <p>
                  Contact Phone Number  : {{payoutDetails.booking.contact_number}}
              </p>
    
              <div class="text-caption-medium show-for-medium">
                  <div class="title">
                   Product Details
                  </div>
                </div>
                <p>
                  Product ID    : {{payoutDetails.product.product_id}}
                </p>
                <p>
                  Product Name  : {{payoutDetails.product.product_name}}
                </p>
                <p>
                  About         : {{payoutDetails.product.about}}
                </p>
                <p>
                  Type          : {{payoutDetails.product.service_type}}
                </p>
                <p>
                  Price         : {{payoutDetails.product.price | currency: 'IDR' : 'symbol' : '4.2-2' : 'id'}}
                </p>
                <p>
                  Note          : {{payoutDetails.product.note}}
                </p>
    
            </div>
          </div>
      </div>
    </div>