
<div class="main">
    <div class="row small-collapse medium-uncollapse">
      <div class="medium-8 medium-centered column">
          <div class="text-caption-large show-for-medium">
              <div class="title">
                Petloka Refund Policy
              </div>
          </div>
      </div>
    </div>
    <div class="medium-10 columns">
        <div class="main-container">
  
          <div class="callout">
              <div class="text-caption-small show-for-small-only">
                  
                <p>Petloka berkomitmen untuk memproses pengembalian dana pelanggan dengan ketentuan sebagai berikut:</p>
                
                <p>1. Pelanggan masih diperbolehkan membatalkan pemesanan Jasa sebelum diambil oleh mitra alias Penyedia Jasa dan sebelum melakukan pembayaran. Apabila sudah melakukan pembayaran melalui melalui Petloka yang ditangani oleh pihak ketiga yakni, Midtrans Payment Gateway, maka pembatalan sudah tidak bisa dilakukan lagi. Apabila setelah melakukan pembayaran dan mitra tidak hadir, maka pembayaran yang telah dilakukan akan dikembalikan ke pelanggan.</p>
                <p>2. Pengembalian dana dilakukan ke rekening bank milik pihak pengirim dana, dilakukan selambat-lambatnya dalam 14 (empat belas) hari kerja terhitung semenjak pelanggan memberikan data data yang diperlukan kepada customer service Petloka, dengan mengirim email ke finance@petloka.com dengan subject REFUND_Booking ID</p>
                <p>3. Data-data yang dimaksud dalam poin diatas adalah sebagai berikut:</p>
                <p> - Booking ID Transaksi</p>
                <p> - Bukti transfer (dalam bentuk foto atau screenshot)</p>
                <p> - Rincian rekening bank pihak pengirim dana untuk tujuan pengembalian dana (berupa: nama pemilik rekening, nama bank, nomor rekening)</p>
                <p> - Alasan permintaan pengembalian dana</p>
                
                <p>4. Beberapa hal yang perlu dipahami pelanggan terkait pengembalian dana:</p>
                <p> - Kesalahan transfer bukan kesalahan kami. Mohon untuk dipahami</p>
                <p> - Adanya batasan transaksi akun bank setiap harinya di bank milik Petloka</p>
                <p> - Setiap harinya, kami harus memenuhi kewajiban dengan pelanggan atau penyedia jasa lain yang bisa mengakibatkan tertundanya permintaan pengembalian dana pelanggan.</p>
                <p> - Menghindari adanya penipuan, kami memerlukan waktu untuk mengecek apakah memang terjadi kesalahan transfer</p>
                <p> - Customer Service tidak memiliki akses ke akun rekening dan sepenuhnya dipegang oleh bagian keuangan.</p>
                </div>

                
              <div class="text-caption-medium show-for-medium">

                <p>Petloka berkomitmen untuk memproses pengembalian dana pelanggan dengan ketentuan sebagai berikut:</p>
                
                <p>1. Pelanggan masih diperbolehkan membatalkan pemesanan Jasa sebelum diambil oleh mitra alias Penyedia Jasa dan sebelum melakukan pembayaran. Apabila sudah melakukan pembayaran melalui melalui Petloka yang ditangani oleh pihak ketiga yakni, Midtrans Payment Gateway, maka pembatalan sudah tidak bisa dilakukan lagi. Apabila setelah melakukan pembayaran dan mitra tidak hadir, maka pembayaran yang telah dilakukan akan dikembalikan ke pelanggan.</p>
                <p>2. Pengembalian dana dilakukan ke rekening bank milik pihak pengirim dana, dilakukan selambat-lambatnya dalam 14 (empat belas) hari kerja terhitung semenjak pelanggan memberikan data data yang diperlukan kepada customer service Petloka, dengan mengirim email ke finance@petloka.com dengan subject REFUND_Booking ID</p>
                <p>3. Data-data yang dimaksud dalam poin diatas adalah sebagai berikut:</p>
                <p> - Booking ID Transaksi</p>
                <p> - Bukti transfer (dalam bentuk foto atau screenshot)</p>
                <p> - Rincian rekening bank pihak pengirim dana untuk tujuan pengembalian dana (berupa: nama pemilik rekening, nama bank, nomor rekening)</p>
                <p> - Alasan permintaan pengembalian dana</p>
                
                <p>4. Beberapa hal yang perlu dipahami pelanggan terkait pengembalian dana:</p>
                <p> - Kesalahan transfer bukan kesalahan kami. Mohon untuk dipahami</p>
                <p> - Adanya batasan transaksi akun bank setiap harinya di bank milik Petloka</p>
                <p> - Setiap harinya, kami harus memenuhi kewajiban dengan pelanggan atau penyedia jasa lain yang bisa mengakibatkan tertundanya permintaan pengembalian dana pelanggan.</p>
                <p> - Menghindari adanya penipuan, kami memerlukan waktu untuk mengecek apakah memang terjadi kesalahan transfer</p>
                <p> - Customer Service tidak memiliki akses ke akun rekening dan sepenuhnya dipegang oleh bagian keuangan.</p>
                </div>
            </div>
      </div>
    </div>
  </div>
<!--  -->