<app-main-usp></app-main-usp>
<footer id="main-footer" class="footer padding-center show-for-medium">
    <div class="row">
            <div class="medium-7 column">



                    <div class="row">
                            <div class="show-for-medium medium-4 columns">

                                    <h5>Customer Service</h5>
                                    <ul class="menu vertical">
                                            <li><a routerLink="https://petloka.com/hubungi-kami/">Hubungi
                                                            Kami</a></li>
                                            <li><a routerLink="https://petloka.com/become-sitters/">Dafter
                                                            menjadi groomer</a></li>
                                            <li><a routerLink="https://petloka.com/service/pet-hotel/">Metode
                                                            Pembayaran</a></li>

                                    </ul>

                            </div>
                            <div class="small-6 medium-4 columns">
                                    <h5>Service</h5>
                                    <ul class="menu vertical">
                                            <li><a routerLink="#">Grooming</a></li>
                                            <li><a routerLink="#">Pet Hotel</a></li>
                                            <li><a routerLink="#">Shop</a></li>
                                    </ul>
                            </div>
                            <div class="small-6 medium-4 columns">
                                    <h5>Account</h5>
                                    <ul class="menu vertical">
                                            <li><a routerLink="">Become a sitters</a></li>
                                            <li><a routerLink="">Term and Conditions</a></li>
                                            <li><a routerLink="/privacy">Privacy</a></li>
                                    </ul>
                            </div>
                    </div>

            </div>
            <div class="medium-5 column">
                    <h5 style="color:white">Call Center</h5>
                    <h3 style="color:white" class="margin-bottom-05">(0815) 8601 2528</h3>
                    <h5>Payment Method</h5>

                    <div class="row medium-up-5 margin-bottom-1">
                            <div class="columns">
                                    <div class="partner-logo">
                                            <img height="35" width="58" src="https://wia.id/media/logo/visa-01.svg"
                                                    alt="">


                                    </div>
                            </div>
                            <div class="columns">
                                    <div class="partner-logo">
                                            <img height="35" width="58"
                                                    src="https://wia.id/media/logo/mastercard-01.svg" alt="">


                                    </div>
                            </div>
                            <div class="columns">
                                    <div class="partner-logo">
                                            <img height="35" width="58" src="https://wia.id/media/logo/jcb-01.svg"
                                                    alt="">


                                    </div>
                            </div>
                            <div class="columns">
                                    <div class="partner-logo">
                                            <img height="35" width="58" src="https://wia.id/media/logo/alto-01.svg"
                                                    alt="">


                                    </div>
                            </div>
                            <div class="columns">
                                    <div class="partner-logo">
                                            <img height="35" width="58"
                                                    src="https://wia.id/media/logo/bersama-2-01.svg" alt="">


                                    </div>
                            </div>

                    </div>
                    <h5>Social Media</h5>
                    <ul class="menu">
                            <li><a routerLink="#">Facebook</a></li>
                            <li><a routerLink="#">Instagram</a></li>

                    </ul>



            </div>


    </div>

    <div class="row">

            <div class="medium-4 columns">
                    <ul class="menu align-left">
                            <li><a routerLink="#">Petloka - 2019</a></li>

                    </ul>

            </div>

    </div>

</footer>

<nav id="mobile-navigations" class="mobile-global-footer-nav show-for-small-only text-center">
    <div class="row small-up-5">
            <div class="columns">
                <a routerLink = "">
                            <div class="icon">
                                <fa-icon [icon]="faHome"></fa-icon>
       
                            </div>
                            <div class="title">
                                    Home
                            </div>
                </a>

            </div>
            <div class="columns">
                <a routerLink = "">
                            <div class="icon">
                                        <fa-icon [icon]="faSearch"></fa-icon>
                                        
                            </div>
                            <div class="title">
                                    Search
                            </div>
                    </a>

            </div>
            <div class="columns">
                        <a routerLink = "/account/customer/booking">
                            <div class="icon">
                                        <fa-icon [icon]="faCalendarDay"></fa-icon>
                            </div>
                            <div class="title">
                                    My Booking
                            </div>
                    </a>

            </div>
            <div class="columns">
                    <a routerLink="#">
                            <div class="icon">
                                        <fa-icon [icon]="faQuestionCircle"></fa-icon>
                            </div>
                            <div class="title">
                                    Help
                            </div>
                    </a>

            </div>
            <div class="columns">
                    <a routerLink="/account/customer">
                            <div class="icon">
                                        <fa-icon [icon]="faUser"></fa-icon>
                            </div>
                            <div class="title">
                                    Account
                            </div>
                    </a>

            </div>



    </div>
</nav>