<app-main-header></app-main-header>
<div class="main-page" style="background: #eaeaea">
    <section class="service-page-header show-for-medium">
        <div class="row">
            <div class="medium-12 columns">
                <div class="text-caption-large white">
                    <div class="title">
                        {{this.pageTitle.getTitle()}}
                    </div>
                    <p class="subtitle white">{{description}}</p>
    
                </div>
                <!-- {{> search-bar}} -->
            </div>
        </div>
    </section>
    <div class="row">

        <div class="medium-4 columns">

            <form>
                <mat-form-field class="example-full-width">
                    <input placeholder="Search By Name" matInput [formControl]="searchServiceByName" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let service of filteredServices | async" [value]="service.host_name">
                        {{service.host_name}}
                      </mat-option> 
                    </mat-autocomplete>
                  </mat-form-field>
            </form>

                <div class="sidebar-accounts show-for-medium">
                        <div class="list-group margin-bottom-2 white-bg">
                        
                                <a (click) = "getGrooming()">
                                    <div class="list-item border-bottom">
                              
                                      <div class="item-body flex-3">
                                        <div class="first-line">
                                          Grooming Service
                                        </div>
                                        <div class="second-line">
                                          In your place or business place
                                        </div>
                                      </div>
                                      <div class="item-tail">
                                        <fa-icon [icon]="faChevronRight"></fa-icon>
                                      </div>
                              
                                    </div>
                                  </a>

                        <a (click) = "getHotel()">
                            <div class="list-item border-bottom">
                      
                              <div class="item-body flex-3">
                                <div class="first-line">
                                  Hotel Service
                                </div>
                                <div class="second-line">
                                  On business place
                                </div>
                              </div>
                              <div class="item-tail">
                                <fa-icon [icon]="faChevronRight"></fa-icon>
                              </div>
                      
                            </div>
                          </a>
                        </div>
                      </div>
        </div>

        

        <div class="medium-8 columns">
            <div class="service-list">
                <div class="row medium-up-2">
                    <!-- <app-card-service-list class="columns" *ngFor="let service of services" [serviceList]="service">
                    </app-card-service-list> -->

                              <!-- loading -->
                              <div id="loader" *ngIf="message != 'done'">
                                  <mat-spinner></mat-spinner>
                              </div>
                            
                    
                            <app-card-service-list *ngFor="let service of filteredServices | async" class="columns" [serviceList]="service">
                            </app-card-service-list>
                        
                </div>
            </div>
        </div>
    </div>
</div>


<!-- buat lazy load -->
<!-- <div class="images" *ngFor="let image of images" (deferLoad)="image.show = true">
          <ng-container *ngIf="image.show">
            <img src={{image.url}}>
          </ng-container> -->

<!-- Flex Layout -->
<!-- <div fxLayout="row wrap" fxlayoutGap="12px" fxLayoutAlign="flex-center">
<app-card fxFlex="1 0 calc(25% - 32px)" *ngFor="let service of services, let i=index"
[service]="service"></app-card>
</div> -->


<app-main-footer></app-main-footer>