<div class="sidebar-accounts show-for-medium">
  <div class="list-group margin-bottom-2 white-bg">
    <a routerLink="/account/business/edit-service">
      <div class="list-item border-bottom">

        <div class="item-body flex-3">
          <div class="first-line">
            Edit Profile
          </div>
          <div class="second-line">
            Edit your business information
          </div>
        </div>
        <div class="item-tail">
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </div>

      </div>
    </a>
    <a routerLink="/account/business/bank-account">
      <div class="list-item border-bottom">

        <div class="item-body flex-3">
          <div class="first-line">
            Bank Account
          </div>
          <div class="second-line">
            Add account for payout request
          </div>
        </div>
        <div class="item-tail">
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </div>

      </div>
    </a>

    <a routerLink="/account/business/orders">
      <div class="list-item border-bottom">

        <div class="item-body flex-3">
          <div class="first-line">
            My Orders
          </div>
          <div class="second-line">
            Manage order from your customer
          </div>
        </div>
        <div class="item-tail">
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </div>

      </div>
    </a>

    <a routerLink="/account/business/manage-service">
      <div class="list-item border-bottom">

        <div class="item-body flex-3">
          <div class="first-line">
            My Service
          </div>
          <div class="second-line">
            Add / Edit service for your business
          </div>
        </div>
        <div class="item-tail">
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </div>

      </div>
    </a>

  </div>










</div>