<form [formGroup] = "globalProductForm" class="example-form">
        <div class="text-caption-small">
          <div class="title">
              {{serviceType}}
          </div>
        </div>
          
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" formControlName="product_name" required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="About" formControlName="about"></textarea>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Price" formControlName="price" digitOnly required>
            <mat-error *ngIf = "globalProductForm.get('price').hasError('pattern')">Please Enter a Valid Number</mat-error>
          </mat-form-field>

          <mat-checkbox [checked]="this.profileService.getSchedule()" (change)="checkSchedule($event)">
              Manage Schedule
          </mat-checkbox>

          <div>
          <mat-checkbox [checked]="this.profileService.getPhoto()" (change)="checkPhoto($event)">
              Upload Photo
          </mat-checkbox>
          </div>

          <div formArrayName="including">
            <div class="title">
              Include:
            </div>
             
            <div *ngFor="let including of globalProductIncluding.controls; let i = index">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Include" [formControlName]="i">
              </mat-form-field>
              <a (click)="deleteIncluding(i)" *ngIf = "globalProductIncluding.length > 1">
                X
              </a>
            </div>
            <a (click)="addGlobalProductIncluding()">
              Add More
            </a>
            
          </div>

            <div>
                <button class="button" (click)="saveGlobalProduct()" [disabled]="!globalProductForm.valid">Save</button>
            </div>

            <div *ngIf="this.profileService.getSchedule() == true">
            <app-business-account-schedule></app-business-account-schedule>
            </div>
            <div *ngIf="this.profileService.getPhoto() == true">
              <app-business-account-photos></app-business-account-photos>
            </div>
            
</form>