<div class="text-caption-large">
  <div class="title">
    Order List
  </div>
</div>
<div class="mat-elevation-z8">
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>
<table mat-table matSort [dataSource]="orderList" class="mat-elevation-z8">

      <ng-container matColumnDef="booking_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Booking ID </th>
        <td mat-cell *matCellDef="let orderList"> {{orderList.sequence}} </td>
      </ng-container>
    
      <ng-container matColumnDef="contact_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer </th>
        <td mat-cell *matCellDef="let orderList"> {{orderList.contact_name}} </td>
      </ng-container>

      <ng-container matColumnDef="booking_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Booking Date </th>
        <td mat-cell *matCellDef="let orderList"> {{orderList.start_time}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Status </th>
          <td mat-cell *matCellDef="let orderList"> {{orderList.status}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let orderList"> 
            <a (contextmenu)="onRightClick($event)" (click)="orderDetails(orderList.booking_id)">View</a> 
          </td>
      </ng-container>
    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator pageSize="10" showFirstLastButtons></mat-paginator>
</div>