<section class="padding-center border-top margin-bottom-3">
    <div class="row">
            <div class="small-8 small-centered medium-4 medium-centered text-center columns">

                    <h3>Now Available on</h3>

                    <img height="100px" class="margin-bottom-2"
                            src="https://petloka.com/media/icon-petloka/mockup-02.png" alt="">
                    <p>Pesan lebih nyaman dan murah melalui Petloka Apps</p>

                    <div class="row small-up-2">
                            <div class="columns">
                                    <a href="https://play.google.com/store/apps/details?id=com.Petloka&amp;hl=en"><img
                                                    src="http://assets.goaheadbus.com/media/cms_page_media/2589/GooglePlayTransparent.png"
                                                    alt=""></a>
                            </div>
                            <div class="columns">
                                    <a href="https://play.google.com/store/apps/details?id=com.Petloka&amp;hl=en"><img
                                                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Download_on_the_App_Store_Badge.svg/1280px-Download_on_the_App_Store_Badge.svg.png"
                                                    alt=""></a>
                            </div>
                    </div>
            </div>
    </div>

</section>