<div class="card-product-hotel">
            <div class="row">
                <div class="small-8 columns">
                    <div class="name">
                        {{productList.product_name}}
                    </div>
                    <div class="description">
                        <div class="title">
                             Size: {{productList.about}}
                        </div>
                        Include
                        <div *ngFor="let include of productList.including">
                            {{include}}
                        </div>
                        
                    </div>
                    <div class="see-details" *ngIf = "this.title.getTitle() == 'Product Order'">
                        See Details
                    </div>
    
                </div>
                <div class="small-4 columns text-right">
                    <div class="price">
                        {{productList.price | currency: 'IDR' : 'symbol' : '4.2-2' : 'id'}}
                    </div>
                    <!-- <div class="price">
                        {{discountedPrice | currency: 'IDR' : 'symbol' : '4.2-2' : 'id'}}
                    </div> -->
    
    
                    <a (click)="toBooking(productList.product_id,productList.service_type)" class="book-button" *ngIf = "this.title.getTitle() == 'Product Order'">
                        Book
                    </a>

                    <!-- Desktop -->
                    <div *ngIf = "this.title.getTitle() == 'Manage Business Account'">
                    <a (click)="edit(productList.product_id,productList.service_type)" class="book-button">
                        Edit
                    </a>
                    <a (click)="delete(productList.product_id)" class="book-button">
                        Delete
                    </a>
                    </div>

                    <!-- Mobile/Desktop -->
                    <div *ngIf="this.title.getTitle() == 'Mobile Manage Account'">
                    <a (click)="editMobile(productList.product_id,productList.service_type)" class="book-button">
                        Edit
                    </a>
                    <a (click)="delete(productList.product_id)" class="book-button">
                        Delete
                    </a>
                    </div>
                    
                </div>
    
    
            </div>
</div>