<!-- DESKTOP NAV -->
<div class="global-header show-for-medium border-bottom">
    <div class="list-group">
        <div class="list-item">
            <div class="item-icon flex-05">
                <a (click)="back()"><fa-icon [icon]="faArrowLeft"></fa-icon></a> 
            </div> 
        <div class="item-tail flex-3">
                        <ul class="menu align-right">
                            <li>
                                <a>1. Booking Details</a>
                            </li>
                            <li>
                                <a><fa-icon [icon]="faChevronRight"></fa-icon></a>
                            </li>
                            <li>
                                <a>2. Booking Review</a>
                            </li>
                            <li>
                                    <a><fa-icon [icon]="faChevronRight"></fa-icon></a>
                            </li>
                            <li>
                                <a>3. Payment</a>
                            </li>

                        </ul>
        </div>
        </div>
    </div>
</div>

<!-- MOBILE NAV -->
<div class="global-header show-for-small-only">
    <div class="list-group">
        <div class="list-item">

            <div class="item-icon flex-05">
                    <a (click)="back()"><fa-icon [icon]="faArrowLeft"></fa-icon></a> 

            </div>

            <div class="item-body flex-2">
                Booking
            </div>
        </div>
    </div>

</div>

<div class="topbar show-for-small-only">
    <ul class="menu align-center">
        <li>1. Booking Details</li>
        <li>></li>
        <li>2. Review</li>
        <li>></li>
        <li>3. Payment</li>
    </ul>
</div>