<div class="text-caption-large">
    <div class="title">
        Voucher List
    </div>
</div>

<div class="mat-elevation-z8">
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>
<table mat-table  matSort [dataSource]="voucherList">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Voucher ID </th>
        <td mat-cell *matCellDef="let voucherList"> {{voucherList.id}} </td>
    </ng-container>

    <ng-container matColumnDef="rule_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Voucher Name </th>
        <td mat-cell *matCellDef="let voucherList"> {{voucherList.rule_name}} </td>
    </ng-container>

    <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Voucher Value </th>
        <td mat-cell *matCellDef="let voucherList">  {{voucherList.value}} </td>
    </ng-container>

    <ng-container matColumnDef="rule_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Voucher Type </th>
        <td mat-cell *matCellDef="let voucherList"> {{voucherList.rule_type}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let voucherList"> 
          <a>View</a> 
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator pageSize="10" showFirstLastButtons></mat-paginator>
</div>
    <!-- <button routerLink="/admin/voucher/create-voucher" class="button expanded">Create Voucher</button> -->