[type=text],
    textarea {
        border-bottom: 1px solid #eee
    }

    label {
        font-weight: 500;
        font-size: 14px !important
    }

    .fullbackground {

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-bottom: 1rem
    }

    .square-box {
        position: relative;
        width: 100%;
        overflow: hidden;
        background: #4679BD;
    }

    .square-box:before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    .square-content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        color: white;
        padding: 15%;
        text-align: center;


    }

    .square-content:hover {
        background: rgba(0, 0, 0, 0.3)
    }

    .hidden{
        display:none
    }
    .dropdown.menu>li>a{
        height:40px;
    }
    body{
        margin-bottom:4rem;
        
    }
    
    
    .mobile-global-header-nav{background:#00aeef;padding:0.7rem 0;color:white;border-bottom:#000fff}
    .mobile-global-header-nav .title{color:white}
    
    
    @media screen and (max-width: 39.9375em) {
        label{font-size:12px}
        .padding-center{padding:1rem 0}
        .card-host .card-host-detail h2{
            font-size:14px;margin-bottom:0;line-height:1.3
        }
        .navigation-sidebar{
            padding:0.5rem 0;
        }
    }

    .service-card {
        padding: 2.5rem;
        border: 2px solid #eee;
        text-align: center
    }

    .padding-middle {
        padding: 2rem;
    }

    .padding-middle-2x {
        padding: 4rem;
    }

    .step {
        opacity: 0.4
    }

    .step .active {
        opacity: 1
    }
    .admin-sidebar{padding:1rem}

    .service-card {
        padding: 4rem 2.5rem;
        border: 2px solid #eee;
        text-align: center;
    }
    #booking-form{min-height:100vh}

    .form input {
        font-size: 16px !important;
        line-height: 1.5rem !important;
    }