<app-main-header></app-main-header>
<div class="main-page" style="background:#eaeaea">
    <div class="white  margin-bottom-2" style="background: #00aeef">
        <div class="row">
          <div class="medium-12 columns">
              <div class="text-caption-large margin-bottom-1">
                  <div class="title">
                     MY BUSINESS
                  </div>
                  <div class="subtitle white">
                    Manage your business
                  </div>
                  
              </div>

          </div>
        </div>
       
      </div>
    <div class="row">
       
        <div class="medium-4 column">
          <app-business-sidebar></app-business-sidebar>
         
        </div>
        <div class="medium-8 column">
          <div class="main-container">
            <div class="text-caption-small show-for-small-only">
              <div class="title">
               Customer Orders
              </div>
            </div>
            <app-card-booking-list *ngFor="let myOrder of myOrders" [bookingList]="myOrder"></app-card-booking-list>
          </div>
      
      
        </div>
      </div>
</div>