.service-card {
    padding: 2.5rem;
    border: 2px solid #eee;
    text-align: center
}

.padding-middle {
    padding: 2rem;
}

.padding-middle-2x {
    padding: 4rem;
}

.step {
    opacity: 0.4
}

.step .active {
    opacity: 1
}
.admin-sidebar{padding:1rem}

.service-card {
    padding: 4rem 2.5rem;
    border: 2px solid #eee;
    text-align: center;
}
#booking-form{min-height:100vh}

.form input {
    font-size: 16px !important;
    line-height: 1.5rem !important;
}