
<div class="main">
    <div class="row small-collapse medium-uncollapse">
      <div class="medium-8 medium-centered column">
          <div class="text-caption-large show-for-medium">
              <div class="title">
                  Privacy
              </div>
          </div>
      </div>
    </div>
    <div class="medium-10 columns">
        <div class="main-container">
  
          <div class="callout">
              <div class="text-caption-small show-for-small-only">
                <p>The Privacy Policy describes how we, PETLOKA (PT Satwa Teknologi Utama and
                    affiliates, “we”, “us” or “our”) collect, store, use, process, retain, transfer, disclose and
                    protect your Personal Information. This Privacy Policy applies to all users of our
                    applications, websites (www.petloka.com), services, or products (“Applications”), unless
                    covered by separate privacy policy.
                    </p>
    
                    <br><p>Please read this Privacy Policy thoroughly to ensure that you understand our data
                    processing practices. Unless otherwise defined, all capitalized terms used in this Privacy
                    Policy shall have the same meaning ascribed to them in the Terms of Use.
                    </p>

                    <br>Table of contents are the following matters:
                    <p>
                            <br><a (click) = "viewPrivacy(1)">1. Personal Information which we collect</a>
                            <br><a (click) = "viewPrivacy(2)">2. The use of Personal Information which we collect</a>
                            <br><a (click) = "viewPrivacy(3)">3. Sharing of Personal Information which we collect</a>
                            <br><a (click) = "viewPrivacy(4)">4. Retention of Personal Information</a>
                            <br><a (click) = "viewPrivacy(5)">5. Access and correction of Personal Information</a>
                            <br><a (click) = "viewPrivacy(6)">6. Where we store your Personal Information</a>
                            <br><a (click) = "viewPrivacy(7)">7. Security of your Personal Information</a>
                            <br><a (click) = "viewPrivacy(8)">8. Changes to this Privacy Policy</a>
                            <br><a (click) = "viewPrivacy(9)">9. Acknowledgment and consent</a>
                            <br><a (click) = "viewPrivacy(10)">10. Marketing and promotional material</a>
                            <br><a (click) = "viewPrivacy(11)">11. Anonymous Data</a>
                            <br><a (click) = "viewPrivacy(12)">12. Third party platforms</a>
                            <br><a (click) = "viewPrivacy(13)">13. How to contact us</a>
                    </p>
                </div>
              <div class="text-caption-medium show-for-medium">
                <p>The Privacy Policy describes how we, PETLOKA (PT Satwa Teknologi Utama and
                affiliates, “we”, “us” or “our”) collect, store, use, process, retain, transfer, disclose and
                protect your Personal Information. This Privacy Policy applies to all users of our
                applications, websites (www.petloka.com), services, or products (“Applications”), unless
                covered by separate privacy policy.
                </p>

                <br><p>Please read this Privacy Policy thoroughly to ensure that you understand our data
                processing practices. Unless otherwise defined, all capitalized terms used in this Privacy
                Policy shall have the same meaning ascribed to them in the Terms of Use.
                </p>

                <br>Table of contents are the following matters:
                <p>
                        <br><a (click) = "viewPrivacy(1)">1. Personal Information which we collect</a>
                        <br><a (click) = "viewPrivacy(2)">2. The use of Personal Information which we collect</a>
                        <br><a (click) = "viewPrivacy(3)">3. Sharing of Personal Information which we collect</a>
                        <br><a (click) = "viewPrivacy(4)">4. Retention of Personal Information</a>
                        <br><a (click) = "viewPrivacy(5)">5. Access and correction of Personal Information</a>
                        <br><a (click) = "viewPrivacy(6)">6. Where we store your Personal Information</a>
                        <br><a (click) = "viewPrivacy(7)">7. Security of your Personal Information</a>
                        <br><a (click) = "viewPrivacy(8)">8. Changes to this Privacy Policy</a>
                        <br><a (click) = "viewPrivacy(9)">9. Acknowledgment and consent</a>
                        <br><a (click) = "viewPrivacy(10)">10. Marketing and promotional material</a>
                        <br><a (click) = "viewPrivacy(11)">11. Anonymous Data</a>
                        <br><a (click) = "viewPrivacy(12)">12. Third party platforms</a>
                        <br><a (click) = "viewPrivacy(13)">13. How to contact us</a>
                </p>
                </div>
            </div>
      </div>
    </div>
  </div>
<!--  -->