<div class="card-service-grooming">
    <a (click)="setUserData(serviceList.user_id)">
    
        <div class="header">
            <div class="image">
                <img src="{{serviceList.photo_list != null ? serviceList.photo_list[0] : GROOMINGBANNER}}" alt="">
            </div>
            

            <div class="rating">

                {{serviceList.total_rating}} ( Review )

            </div>
        </div>

        <div class="list-group">
            <div class="list-item content">
                <div class="item-icon flex-1">
                    <div class="profile-image">
                        <img src="{{serviceList.photo_url}}" alt="">
                    </div>
                </div>
                <div class="item-body flex-4">
                    <div class="title">{{serviceList.host_name}}</div>
                    <ul class="host-usp" *ngIf = "serviceList.is_company == true">
                        <li>
                            Verified Business
                        </li>
                        
                       
                    </ul>
                    <div class="location">{{serviceList.location}}</div>
                    
                </div>
                <div class="item-tail flex-2">
                    <div class="price"><span class="from">Start from</span><br>
                        <div>{{serviceList.min_price | currency: 'IDR' : 'symbol' : '4.2-2' : 'id'}}</div>
                      
                    </div>

                </div>

            </div>

        </div>


    </a>

</div>