<div class="sidebar-accounts show-for-medium">
    <div class="list-group margin-bottom-2 white-bg">
      <a routerLink="/account/customer/profile">
        <div class="list-item border-bottom">
  
          <div class="item-body flex-3">
            <div class="first-line">
              Edit Profile
            </div>
            <div class="second-line">
              Edit your personal information
            </div>
          </div>
          <div class="item-tail">
            <fa-icon [icon]="faChevronRight"></fa-icon>
          </div>
  
        </div>
      </a>
    
  
      <a routerLink="/account/customer/booking">
        <div class="list-item border-bottom">
  
          <div class="item-body flex-3">
            <div class="first-line">
              My Booking
            </div>
            <div class="second-line">
              Check your booking process and history
            </div>
          </div>
          <div class="item-tail">
            <fa-icon [icon]="faChevronRight"></fa-icon>
          </div>
  
        </div>
      </a>
  
  
    </div>
  
  
  
  
  
  
  
  
  
  
  </div>