<div class="main" style="background: #eaeaea">
        <div class="row small-collapse medium-uncollapse">
          <div class="medium-8 medium-centered column">
              <div class="text-caption-large show-for-medium">
                  <div class="title">
                      Add Voucher
                  </div>
              </div>
              <div class="booking-container">
                <div class="booking-callout booking-details">
                    <mat-form-field class="example-full-width">
                            <input matInput placeholder="Voucher" [formControl]="voucher">
                            <button *ngIf="voucher.value" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
                              <fa-icon [icon]="faTimes"></fa-icon>
                            </button>
                        </mat-form-field>
      
                <div class="booking-callout">
                  <button (click)="checkVoucher()" [disabled]="!voucher.valid" class="button expanded">Save</button>
                </div>
                </div>
              </div>
          </div>
        </div>
      </div>