<app-main-header></app-main-header>
<div class="main-page" style="background: #eaeaea">
                <div class="white  margin-bottom-2" style="background: #00aeef">
                                <div class="row">
                                  <div class="medium-12 columns">
                                      <div class="text-caption-large margin-bottom-1">
                                          <div class="title">
                                             MY BUSINESS
                                          </div>
                                          <div class="subtitle white">
                                            Manage your business
                                          </div>
                                          
                                      </div>
                        
                                  </div>
                                </div>
                               
                              </div>
                <div class="row">
                                
                                <div class="medium-4 column">
                                        <app-business-sidebar></app-business-sidebar>
                        
                                </div>
                                <div class="medium-8 column">
                                        <div class="main-container">
                                                <div class="text-caption-small show-for-small-only">
                                                        <div class="title">
                                                                Bank Account
                                                        </div>
                                                </div>
                                                <div class="callout">
                                                                <div class="text-caption-medium">
                                                                                <div class="title">
                                                                                       Bank Account
                                                                                </div>
                                                                        </div>
                                                                <form [formGroup]="bankForm" class="example-form">
                                                                                <div formGroupName="bank_info" class="text-caption-small">
                                                
<!--                                                 
                                                                                        <mat-form-field class="example-full-width">
                                                                                                <input matInput placeholder="Bank Id" formControlName="bank_id">
                                                                                        </mat-form-field>
                                                 -->
                                                                                        <mat-form-field class="example-full-width">
                                                                                                <input matInput placeholder="Bank Name" formControlName="bank_name">
                                                                                        </mat-form-field>
                                                
                                                                                        <mat-form-field class="example-full-width">
                                                                                                <input matInput placeholder="Account Name"
                                                                                                        formControlName="account_name">
                                                                                        </mat-form-field>
                                                
                                                                                        <mat-form-field class="example-full-width">
                                                                                                <input matInput placeholder="Account Number"
                                                                                                        formControlName="account_number">
                                                                                                <mat-error
                                                                                                        *ngIf="bankForm.get('bank_info').get('account_number').hasError('pattern')">
                                                                                                        Enter a valid number</mat-error>
                                                                                        </mat-form-field>
                                                
                                                                                        <div>
                                                                                                <button class="button expanded" (click)="submit()" [disabled]="!bankForm.valid">Save</button>
                                                                                        </div>
                                                
                                                                                </div>
                                                                        </form>
                                                </div>
                                               
                        
                                        </div>
                        
                        
                                </div>
                        </div>
</div>

<app-main-footer></app-main-footer>