<app-booking-header></app-booking-header>
<div class="main" style="background:#eaeaea" *ngIf="productDetails">

    <div class="row small-collapse medium-uncollapse">
    <div class="medium-8 medium-centered columns">
        <div class="text-caption-large show-for-medium">
            <div class="title">
                2. Review
            </div>
            <p class="subtitle">Please review your booking</p>
        </div>
      <div class="booking-container">
      
        <div class="text-caption-small">
          <div class="title">
            Booking Review
          </div>
        </div>
        <div class="booking-callout booking-review">
          <div class="row">
            <div class="small-6 columns">
              <p>Request Date</p>
              <p>{{startDate}}</p>
            </div>
            <!-- <div class="small-6 columns">
              <p>Request Time</p>
              <p>{{startTime}}</p>
            </div> -->
          </div>
          <div class="row">
              <div class="small-6 columns">
                <p>Request End Date</p>
                <p>{{endDate}}</p>
              </div>
            </div>
          <div class="row">
            <div class="small-12 columns">
              <p>Booking Location</p>
              <p>{{street}} , {{building}}</p>
            </div>
  
          </div>
          <div class="list-group">
  
            <div class="list-item border-bottom">
              <div class="item-body flex-2">
                <div class="second-line">
                  Subtotal
                </div>
  
              </div>
              <div class="item-tail flex-2">
                {{productDetails.price | currency: 'IDR' : 'symbol' : '4.2-2' : 'id'}}
              </div>
            </div>
            <div *ngIf="discountPrice != null" class="list-item border-bottom">
              <div class="item-body flex-2">
                <div class="second-line">
                  Discount
                </div>
  
              </div>
              <div class="item-tail flex-2">
                -{{discountPrice | currency: 'IDR' : 'symbol' : '4.2-2' : 'id'}}
              </div>
            </div>
            <div class="list-item border-bottom">
              <div class="item-body flex-2">
                <div class="second-line">
                  Transportation Fee
                </div>
  
              </div>
              <div class="item-tail flex-2">
                {{transportationFee | currency: 'IDR' : 'symbol' : '4.2-2' : 'id'}}
              </div>
            </div>
            <div class="list-item border-bottom">
              <div class="item-body flex-2">
                <div class="first-line">
                  Total
                </div>
  
              </div>
              <div class="item-tail flex-2" style="font-weight: bold">
                {{total | currency: 'IDR' : 'symbol' : '4.2-2' : 'id'}}
              </div>
            </div>
          </div>
        </div>

        <div class="text-caption-small">
          <div class="title">
            Promo Code
          </div>
        </div>
        <div class="booking-callout booking-review">
          <div class="list-group">
            <a class="list-item flex-05" (click)="toVoucher()">
              <div class="item-body flex-3">
                <div class="first-line">
                  Add Promo Code
                  
                </div>
                
              </div>
              <fa-icon [icon]="faChevronRight"></fa-icon>
  
            </a>
          </div>
        </div>
  
        <div class="text-caption-small">
          <div class="title">
            Payment Method
          </div>
        </div>
        <div class="booking-callout booking-review">
          <div class="list-group">
            <div class="list-item flex-05">
              <div class="item-body flex-3">
                <div class="first-line">
                  Manual Bank Transfer

                  <div>
                  <mat-form-field>
                    <mat-label>Select Bank</mat-label>
                    <mat-select [(value)]="selectedBank">
                      <mat-option value="BCA">BCA</mat-option>
                      <!-- <mat-option value="permata">Permata</mat-option> -->
                    </mat-select>
                  </mat-form-field>
                  </div>

                </div>
                <div class="third-line">
                  Direct transfer to our bank account
                </div>
                
              </div>
  
            </div>
          </div>
        </div>
  
        <div class="booking-callout">
  
          <button class="button expanded" (click)="submit()">Book Now</button>
          <!-- <button [disabled]="selectedBank == undefined" class="button expanded" (click)="submitMidTrans()">Book Now(MidTrans)</button> -->
          <p class="tiny-text text-center">By place an order you are agree to our terms and conditions</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-booking-footer></app-booking-footer>