<app-main-header></app-main-header>
<div class="main-page" style="background: #eaeaea">
      <div class="white  margin-bottom-2" style="background: #00aeef">
          <div class="row">
            <div class="medium-12 columns">
                <div class="text-caption-large margin-bottom-1">
                    <div class="title">
                       MY ACCOUNT
                    </div>
                    <div class="subtitle white">
                      Manage your personal account
                    </div>
                    
                </div>
  
            </div>
          </div>
         
        </div>
        
  <div class="row">
    <div class="medium-4 column">
      <app-customer-sidebar></app-customer-sidebar>

    </div>

    <div class="medium-8 columns">
      <div class="main-container">

        <div class="callout">
          <div *ngIf="bookingDetails">
            <div class="text-caption-small show-for-small-only">
                <div class="title">
                  Booking Details
                </div>
              </div>
            <div class="text-caption-medium show-for-medium">
                <div class="title">
                 Booking Details
                </div>
              </div>
            <p>
              Booking Id      : {{bookingDetails.booking_id}}
            </p>
            <p>
              Contact Name    : {{bookingDetails.contact_name}}
            </p>
            <p>
              Contact Number  : {{bookingDetails.contact_number}}
            </p>
            <p>
              Start Time      : {{this.startTime}}
            </p>
            <p *ngIf = "this.endTime">
              End Time        : {{this.endTime}}
            </p>
            <p>
              Type            : {{bookingDetails.type}}
            </p>
            <p>
              Transport Fee   : {{bookingDetails.transport_fee | currency: 'IDR' : 'symbol' : '4.2-2' : 'id'}}
            </p>
            <p>
              Discount Price  : -{{bookingDetails.deduction | currency: 'IDR' : 'symbol' : '4.2-2' : 'id'}}
            </p>
            <p>
              Total           : {{total | currency: 'IDR' : 'symbol' : '4.2-2' : 'id'}}
            </p>
            <p>
              Status          : {{bookingDetails.status}}
            </p>

            <div class="text-caption-small show-for-small-only">
                <div class="title">
                  Booking Address
                </div>
              </div>
            <div class="text-caption-medium show-for-medium">
                <div class="title">
                 Booking Address
                </div>
              </div>
            <p>
              Street: {{bookingDetails.booking_address.street}}
            </p>
            <p>
              Address Details: {{bookingDetails.booking_address.building}}
            </p>

            <div class="text-caption-small show-for-small-only">
                <div class="title">
                  Product Details
                </div>
              </div>
            <div class="text-caption-medium show-for-medium">
                <div class="title">
                 Product Details
                </div>
              </div>
              <p>
                Product Name      : {{bookingDetails.product.product_name}}
              </p>
              <p>
                Type              : {{bookingDetails.product.service_type}}
              </p>
              <p>
                Price             : {{bookingDetails.product.price | currency: 'IDR' : 'symbol' : '4.2-2' : 'id'}}
              </p>
              <p>
                Note              : {{bookingDetails.product.note}}
              </p>
          </div>
        </div>
    </div>
  </div>

    

  </div>
</div>


<app-main-footer></app-main-footer>