<app-main-header></app-main-header>
<div class="main-page" style="background: #eaeaea">
    <div class="white  margin-bottom-2" style="background: #00aeef">
        <div class="row">
          <div class="medium-12 columns">
              <div class="text-caption-large margin-bottom-1">
                  <div class="title">
                     MY ACCOUNT
                  </div>
                  <div class="subtitle white">
                    Manage your personal account
                  </div>
                  
              </div>

          </div>
        </div>
       
      </div>
    <div class="row">
        
        <div class="medium-4 column">
          <app-customer-sidebar></app-customer-sidebar>
      
        </div>
        <div class="medium-8 column">
          <div class="main-container">
              
           
            <app-card-booking-list *ngFor="let myBooking of myBookings" [bookingList]="myBooking">
            </app-card-booking-list>
            
          
      
           
          </div>
      
      
        </div>
      </div>
</div>

<app-main-footer></app-main-footer>

