<app-main-header></app-main-header>

<div class="grey-bg" style="background: #eaeaea">

  <!-- loading -->
  <div id="loader" *ngIf="message != 'done'">
      <mat-spinner></mat-spinner>
  </div>

<div class="service-view" *ngIf="user">
  <div class="row medium-uncollapse small-collapse">
          <div class="medium-10 medium-centered columns">
            <app-card-service-profile [userChild] = "user"></app-card-service-profile>
                          <!-- {{> card-product-hotel}}
                          {{> card-product-hotel}} -->
                
                  
          </div>
      </div>
</div>
<div class="row">
  <div class="medium-10 medium-centered columns">

      
     
    
      <div class="text-caption-small">
          <div class="title">
              Select Service
            </div>
      </div>
      
      <app-card-product-list *ngFor="let product of products"
        [productList] = "product">
        </app-card-product-list>


  </div>
</div>
</div>


<app-main-footer></app-main-footer>





    