<div class="main-page" style="background: #eaeaea">
    <div class="white  margin-bottom-2" style="background: #00aeef">
        <div class="row">
          <div class="medium-12 columns">
              <div class="text-caption-large margin-bottom-1">
                  <div class="title">
                     MY BUSINESS
                  </div>
                  <div class="subtitle white">
                    Manage your business
                  </div>
                  
              </div>

          </div>
        </div>
       
      </div>
      
  <div class="row">
    <div class="medium-12 column">
      <div class="main-container">
          <div class="text-caption-small show-for-small-only">
              <div class="title">
                Manage Business Services
              </div>
            </div>
        <div class="callout">
        <div class="text-caption-medium show-for-medium">
          <div class="title">
            Manage Business Services
          </div>
        </div>

        
        
       
        <div class="medium-6 column">
          <div class="group-list rounded-container white">
            <a (click)="grooming()">
              <div class="title">
                Grooming
              </div>
            </a>
          </div>
        </div>
        <div class="medium-6 column">
          <div class="group-list rounded-container white">
            <a (click)="hotel()">
              <div class="title">
                Hotel
              </div>
            </a>
          </div>
        </div>

        
          <div *ngIf = "type != null">
            <app-mobile-business-manage-product></app-mobile-business-manage-product>
          </div>

        </div>


        <div class="text-caption-small">
        <div class="title">
          Hotel Product
        </div>
        </div>
        <div *ngIf="hotelProducts">
        <div class="text-caption-small" *ngIf="hotelProducts.length != 0; else noHotelProduct">
                <app-card-product-list *ngFor="let hotelProduct of hotelProducts"
                    [(productList)] = "hotelProduct"
                    (refresh) = "refreshData()">
                </app-card-product-list>
        
        </div>
        </div>
        <ng-template #noHotelProduct>
          Currently Empty.
        </ng-template>


        <div class="text-caption-small">
        <div class="title">
          Grooming Product
        </div>
        </div>

        <div *ngIf="groomProducts">
        <div class="text-caption-small" *ngIf="groomProducts.length != 0; else noGroomProduct">
              <app-card-product-list *ngFor="let groomProduct of groomProducts"
                  [(productList)] = "groomProduct"
                  (refresh) = "refreshData()">
              </app-card-product-list>
        </div>
        </div>

      <ng-template #noGroomProduct>
        Currently Empty.
      </ng-template>
        
      </div>
    </div>
  </div>
</div>


<app-main-footer></app-main-footer>