<app-main-header></app-main-header>

<div class="main-page" style="background: #eaeaea">
  <div class="white  margin-bottom-2" style="background: #00aeef">
    <div class="row">
      <div class="medium-12 columns">
        <div class="text-caption-large margin-bottom-1">
          <div class="title">
            MY ACCOUNT
          </div>
          <div class="subtitle white">
            Manage your personal account
          </div>

        </div>

      </div>
    </div>

  </div>
  <div class="row">

    <div class="medium-4 column">
      <app-customer-sidebar></app-customer-sidebar>

    </div>
    <div class="medium-8 column">
      <div class="main-container" *ngIf="profile">
        <div class="text-caption-small show-for-small-only">
          <div class="title">
            Customer Profile
          </div>
        </div>

        <div class="form-container callout">
          <div class="text-caption-medium">
            <div class="title">
              Edit Profile
            </div>
            <p class="subtitle">Edit your personal information</p>
          </div>
          <form [formGroup]="profileForm" class="example-form">

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Full Name" formControlName="full_name">
              <mat-error *ngIf="profileForm.get('full_name').hasError('required')">Full Name is required</mat-error>
              <mat-error *ngIf="profileForm.get('full_name').hasError('pattern')">Enter a valid name</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" formControlName="email" required>
              <mat-error *ngIf="profileForm.get('email').hasError('required')">Email is required</mat-error>
              <mat-error *ngIf="profileForm.get('email').hasError('email')">Enter a valid email</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Phone Number" formControlName="phone_number">
              <mat-error *ngIf="profileForm.get('phone_number').hasError('pattern')">Enter a valid number</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="About Me" formControlName="about_me"></textarea>
              <mat-hint>Max 100 Characters</mat-hint>
            </mat-form-field>

            <div formGroupName="address" class="text-caption-small">
              <div class="title">
                Address
              </div>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Street" formControlName="street">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Building" formControlName="building">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                  <input (ngModelChange)="this.locService.check($event, locations)" placeholder="Select City" aria-label="Number" matInput formControlName="city" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let location of filteredLocations | async" [value]="location.name">
                        {{location.name}}
                      </mat-option> 
                    </mat-autocomplete>
                </mat-form-field>
                <mat-error *ngIf="this.locService.getMatcher() == 'Error'">Not a valid Location</mat-error>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Region" formControlName="region">
              </mat-form-field>

            </div>

          </form>
          <div>
            <button class="button expanded" (click)="submit()" [disabled]="!profileForm.valid || this.locService.getMatcher() == 'Error'">Save</button>
          </div>
        </div>




      </div>


    </div>
  </div>
</div>
<app-main-footer></app-main-footer>