<div *ngIf="type == 'grooming'">
    <div *ngIf="groomingService">
        <div *ngIf="groomingService.length != 0">
            <div class="row">
            <div class="medium-12 columns">
                <div class="text-caption-medium">
                    <div class="title">
                        Nearby Groomer
                    </div>
                    <p class="subtitl">Find grooming service near you</p>
                </div>
            </div>
            </div>
            <app-card-service-list *ngFor="let grooming of groomingService" [(serviceList)] = "grooming"></app-card-service-list>
        </div>
    </div>
</div>

<div *ngIf="type == 'hotel'">
    <div *ngIf="hotelService">
        <div *ngIf="hotelService.length != 0">
            <div class="row">
            <div class="medium-12 columns">
                <div class="text-caption-medium">
                    <div class="title">
                        Nearby Pet Hotel
                    </div>
                    <p class="subtitl">Find pet hotel service near you</p>
                </div>
            </div>
            </div>
            <app-card-service-list *ngFor="let hotel of hotelService" [(serviceList)] = "hotel"></app-card-service-list>
        </div>
    </div>
</div>